Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

Improve tex create
  modules/formats/DDS.py
  version.txt
Due: none

Update fgm tooltips
  gui/tooltips/fgm.txt
  version.txt
Due: none

Fix ms2 validation for PC
  modules/formats/MS2.py
  version.txt
Due: none

Automatically determine tile count for tex files
  modules/formats/DDS.py
  version.txt
Due: none

Cleanup tex
  modules/formats/DDS.py
  version.txt
Due: none

Cleanup tex channel regex
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

fix typo
  codegen/expression.py
  version.txt
Due: none

Convert expression code to fstring
  codegen/expression.py
  version.txt
Due: none

Improve add_installed_game
  gui/widgets.py
  version.txt
Due: check-imports

Improve bnk code
  bnk_gui.py
  generated/formats/bnk/__init__.py
  modules/formats/BNK.py
  source/formats/bnk/__init__.py
  version.txt
Due: codegen, check-imports

Improve bnk code
  bnk_gui.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/BnkBufferData.py
  modules/formats/BNK.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/AuxFileContainer.py
  version.txt
Due: codegen, check-imports

Improve texconv calls
  modules/formats/DDS.py
  modules/formats/MOTIONGRAPH.py
  ovl_util/texconv.py
  version.txt
Due: none

Improve texconv calls, don't force lowercase DDS
  ovl_util/texconv.py
  version.txt
Due: none

Particleeffect reversing
  generated/formats/particleeffect/compounds/Effect.py
  generated/formats/particleeffect/compounds/Effect07.py
  generated/formats/particleeffect/compounds/Effect08.py
  generated/formats/particleeffect/compounds/Effect09.py
  generated/formats/particleeffect/compounds/Effect10.py
  generated/formats/particleeffect/compounds/EffectRef.py
  generated/formats/particleeffect/compounds/LastRow.py
  generated/formats/particleeffect/compounds/NextRow2.py
  generated/formats/particleeffect/compounds/ParticleEffectRoot.py
  generated/formats/particleeffect/imports.py
  generated/formats/particleeffect/particleeffect.xml
  modules/formats/PARTICLEFFECT.py
  source/formats/particleeffect/particleeffect.xml
  version.txt
Due: codegen

Particleeffect reversing
  generated/formats/particleeffect/compounds/Effect11.py
  generated/formats/particleeffect/compounds/Effect12.py
  generated/formats/particleeffect/compounds/ParticleEffectRoot.py
  generated/formats/particleeffect/imports.py
  generated/formats/particleeffect/particleeffect.xml
  source/formats/particleeffect/particleeffect.xml
  version.txt
Due: codegen

Particleeffect reversing
  generated/formats/particleeffect/compounds/Effect13.py
  generated/formats/particleeffect/compounds/Effect14.py
  generated/formats/particleeffect/compounds/Effect15.py
  generated/formats/particleeffect/compounds/Effect21.py
  generated/formats/particleeffect/compounds/ParticleEffectRoot.py
  generated/formats/particleeffect/imports.py
  generated/formats/particleeffect/particleeffect.xml
  source/formats/particleeffect/particleeffect.xml
  version.txt
Due: codegen

Particleeffect reversing
  generated/formats/particleeffect/compounds/Effect07.py
  generated/formats/particleeffect/compounds/Effect08.py
  generated/formats/particleeffect/compounds/Effect09.py
  generated/formats/particleeffect/compounds/Effect10.py
  generated/formats/particleeffect/compounds/Effect11.py
  generated/formats/particleeffect/compounds/Effect12.py
  generated/formats/particleeffect/compounds/Effect14.py
  generated/formats/particleeffect/compounds/Effect15.py
  generated/formats/particleeffect/compounds/Effect16.py
  generated/formats/particleeffect/compounds/Effect21.py
  generated/formats/particleeffect/compounds/NextRow1.py
  generated/formats/particleeffect/compounds/ParticleEffectRoot.py
  generated/formats/particleeffect/imports.py
  generated/formats/particleeffect/particleeffect.xml
  modules/formats/BaseFormat.py
  modules/formats/PARTICLEFFECT.py
  source/formats/particleeffect/particleeffect.xml
  version.txt
Due: codegen

Particleeffect reversing
  generated/formats/particleeffect/compounds/Effect07.py
  generated/formats/particleeffect/compounds/Effect08.py
  generated/formats/particleeffect/compounds/Effect12.py
  generated/formats/particleeffect/compounds/NextRow1.py
  generated/formats/particleeffect/particleeffect.xml
  source/formats/particleeffect/particleeffect.xml
  version.txt
Due: codegen

Renamed old mod_tool to pack_tool to leave room for hex modding tool take over
  pack_tool_cmd.py
  pack_tool_gui.py
Due: check-imports

Allow setting ms2 version
  generated/formats/ms2/__init__.py
  ms2_tool_gui.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen, check-imports

Improve ms2 versioning
  generated/formats/ms2/ms2.xml
  generated/formats/ms2/versions.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

Improve ms2 versioning
  generated/formats/ms2/__init__.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

Improve ms2 versioning
  generated/formats/ms2/basic.py
  generated/formats/ms2/compounds/BonePointer.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/basic.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

Don't error creating an ovl from a folder with ovls.include
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

bani - update animate_empties for fast api and with new transforms attempt
  plugin/import_bani.py
  version.txt
Due: none

bani - deactivate gimbal changes
  generated/formats/bani/__init__.py
  plugin/import_bani.py
  source/formats/bani/__init__.py
  version.txt
Due: codegen

bani - experiments
  generated/formats/bani/__init__.py
  plugin/import_bani.py
  source/formats/bani/__init__.py
  version.txt
Due: codegen

bani - move loader.update() in ovl save pipeline to save bani correctly the first time
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

manis - cleanup import
  plugin/import_manis.py
  version.txt
Due: none

manis - warn about extraneous bones and ignore them
  plugin/import_manis.py
  version.txt
Due: none

tex - fix typo in pz colormorph detection
  ovl_util/imarray.py
  version.txt
Due: none

banis recode
  __init__.py
  generated/formats/bani/__init__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/BaniInfo.py
  generated/formats/bani/compounds/BaniInfoHeader.py
  generated/formats/bani/compounds/BanisInfoHeader.py
  generated/formats/bani/compounds/BanisRoot.py
  generated/formats/bani/imports.py
  modules/formats/BANI.py
  plugin/import_banis.py
  plugin/modules_import/operators.py
  source/formats/bani/__init__.py
  source/formats/bani/bani.xml
  version.txt
Due: codegen

banis recode plugin
  generated/formats/bani/__init__.py
  plugin/import_banis.py
  version.txt
Due: none

banis recode plugin
  generated/formats/bani/__init__.py
  plugin/import_banis.py
  source/formats/bani/__init__.py
  version.txt
Due: codegen

banis recode plugin
  __init__.py
  generated/formats/bani/__init__.py
  generated/formats/ovl/__init__.py
  modules/formats/BANI.py
  modules/formats/BaseFormat.py
  plugin/export_banis.py
  plugin/modules_export/operators.py
  source/formats/bani/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

banis repacking
  generated/formats/bani/__init__.py
  generated/formats/bani/bani.xml
  generated/formats/bani/compounds/BanisRoot.py
  source/formats/bani/__init__.py
  source/formats/bani/bani.xml
  version.txt
Due: codegen

banis cleanup
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
  version.txt
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
