Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

Give fins slight hints of texture
  __init__.py
  plugin/import_ms2.py
  plugin/utils/hair.py
  plugin/utils/shell.py
  version.txt
Due: none

Give fins slight hints of texture
  plugin/utils/shell.py
  version.txt
Due: none

Update README.md
  README.md
Due: none

improve manis import
  plugin/import_manis.py
  version.txt
Due: none

Don't show error popups in batch mode
  ovl_tool_gui.py
  version.txt
Due: check-imports

Fix PZ fins mesh flag versioning
  plugin/utils/shell.py
  version.txt
Due: none

Logger rewrite
  gui/qt_theme.py
  gui/widgets.py
  icons/clear_filter.svg
  icons/jump.svg
  ovl_tool_gui.py
  ovl_util/logs.py
  version.txt
Due: check-imports

Example of `details` usage for logging functions
  generated/formats/ovl/__init__.py
  version.txt
Due: none

Fix line messed up from discarding lines in git
  ovl_tool_gui.py
  version.txt
Due: check-imports

Misc UI tweaks
  gui/widgets.py
  version.txt
Due: check-imports

Set default logger orientation to Vertical
  ovl_tool_gui.py
  version.txt
Due: check-imports

Add missing source for 769b140 details usage
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Update tests with ovl.game
  tests/test_ovl/test_ovl_includes.py
  tests/test_ovl/test_ovl_save_create.py
  version.txt
Due: none

Fix test failure
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Remove checking from log widget icons
  gui/widgets.py
  version.txt
Due: check-imports

#348 - use ovl.game getter / setter throughout
  fgm_editor_gui.py
  mod_tool_cmd.py
  mod_tool_gui.py
  ovl_tool_gui.py
  tests/test_ovl/test_ovl_save_create.py
  version.txt
Due: check-imports

#348 - disable dragging msg
  ovl_tool_gui.py
  version.txt
Due: check-imports

#348 - ovl context is set twice on startup due to redundant call
  ovl_tool_gui.py
  version.txt
Due: check-imports

#348 - replace dirs in log (tools, tmp, user, game dirs)
  generated/formats/ovl_base/compounds/Pointer.py
  gui/widgets.py
  ovl_util/logs.py
  source/formats/ovl_base/compounds/Pointer.py
  version.txt
Due: codegen, check-imports

Improve messages for DDS
  modules/formats/DDS.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

Fill blank space in ovl gui grid
  ovl_tool_gui.py
  version.txt
Due: check-imports

Fix logging for missing config
  ovl_util/logs.py
  version.txt
Due: none

Fix addon_updater_ops
  __init__.py
  version.txt
Due: none

Cleanup grid
  ovl_tool_gui.py
  version.txt
Due: check-imports

Fix export of scenes without models
  plugin/export_ms2.py
  version.txt
Due: none

Cleanup dds
  generated/formats/dds/__init__.py
  source/formats/dds/__init__.py
  version.txt
Due: codegen

Create empty ovls fix
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Update tex buffer from dds
  generated/formats/dds/__init__.py
  generated/formats/tex/compounds/Mipmap.py
  generated/formats/tex/compounds/SizeInfoRaw.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  source/formats/dds/__init__.py
  source/formats/tex/tex.xml
  version.txt
Due: codegen

Update tex buffer from dds
  modules/formats/DDS.py
  version.txt
Due: none

Update tex buffer from dds
  generated/formats/dds/__init__.py
  source/formats/dds/__init__.py
  version.txt
Due: codegen

Update tex buffer from dds
  modules/formats/BaseFormat.py
  version.txt
Due: none

Update tex buffer from dds
  generated/formats/dds/__init__.py
  generated/formats/tex/compounds/Mipmap.py
  generated/formats/tex/tex.xml
  modules/formats/DDS.py
  source/formats/dds/__init__.py
  source/formats/tex/tex.xml
  version.txt
Due: codegen

Update tex buffer from dds
  generated/formats/dds/__init__.py
  modules/formats/DDS.py
  source/formats/dds/__init__.py
  version.txt
Due: codegen

Update tex buffer from dds
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  modules/formats/FDB.py
  modules/formats/MS2.py
  ovl_util/imarray.py
  version.txt
Due: none

Change tex create logic to not create texturestreams if loading image failed
  modules/formats/DDS.py
  version.txt
Due: none
