Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

plugin - clean up matlayers import
  plugin/import_matcol.py
  version.txt
Due: none

matcol - improve xml spec
  generated/formats/matcol/compounds/BoolAttrib.py
  generated/formats/matcol/compounds/FloatAttrib.py
  generated/formats/matcol/compounds/Layer.py
  generated/formats/matcol/compounds/LayerFrag.py
  generated/formats/matcol/compounds/RootFrag.py
  generated/formats/matcol/imports.py
  generated/formats/matcol/matcol.xml
  source/formats/matcol/matcol.xml
  version.txt
Due: codegen

matcol - fix plugin for JWE1
  generated/formats/dinosaurmaterialvariants/__init__.py
  generated/formats/matcol/compounds/FloatAttrib.py
  generated/formats/matcol/matcol.xml
  plugin/import_matcol.py
  source/formats/dinosaurmaterialvariants/__init__.py
  source/formats/matcol/matcol.xml
  version.txt
Due: codegen

enabling .curve
  constants/Jurassic World Evolution 2/mimes_extra.py
Due: none

enabling .curve but this time for real
  constants/Planet Zoo/mimes_extra.py
Due: none

removing a leftover on the extra mimes
  constants/Planet Zoo/mimes_extra.py
Due: none

plugin - improve addons registration and fix updater
  __init__.py
  plugin/addon_updater.py
  plugin/addon_updater_ops.py
  version.txt
Due: none

Allow installed bitarray from the addon settings panel
  __init__.py
Due: none

removing ctypes as requirement
  __init__.py
Due: none

Remove error if running codegen.py from a IDE.
  codegen.py
Due: none

tex - refactor tex unpacking to be more efficient
  generated/formats/dds/__init__.py
  modules/formats/DDS.py
  source/formats/dds/__init__.py
  version.txt
Due: codegen

Creating backups of ms2 files
  plugin/export_ms2.py
Due: none

gui - make extract_all threaded
  ovl_tool_gui.py
  version.txt
Due: check-imports

ms2 - convert AfterJointsPadding to SmartPadding
  generated/formats/ms2/compounds/AfterJointsPadding.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  generated/formats/ovl_base/compounds/SmartPadding.py
  source/formats/ms2/compounds/AfterJointsPadding.py
  source/formats/ms2/ms2.xml
  source/formats/ovl_base/compounds/SmartPadding.py
  version.txt
Due: codegen

ms2 - improve RagdollConstraint
  generated/formats/base/compounds/Vector3.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ModelInfo.py
  generated/formats/ms2/compounds/PushConstraint.py
  generated/formats/ms2/compounds/RagdollConstraint.py
  generated/formats/ms2/ms2.xml
  source/formats/base/compounds/Vector3.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - cleanup
  generated/formats/ms2/__init__.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

ms2 - import rigid body mass
  plugin/modules_import/armature.py
  plugin/modules_import/collision.py
  version.txt
Due: none

gui - improve search archives feature
  gui/widgets.py
  modules/walker.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - show search archives results as table
  modules/walker.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - cleanup version check
  constants/__init__.py
  gui/__init__.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

ms2 - improve RagdollConstraint
  generated/formats/ms2/compounds/RagdollConstraint.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - import RagdollConstraint
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/RagdollConstraint.py
  generated/formats/ms2/ms2.xml
  plugin/modules_import/armature.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - import RagdollConstraint matrix
  plugin/modules_import/armature.py
  version.txt
Due: none

ms2 - import RagdollConstraint matrix correction
  plugin/modules_import/armature.py
  plugin/utils/matrix_util.py
  version.txt
Due: none

Added contextual import ms2 to the file browser
  __init__.py
Due: none

allow importing fgm using the contextual menu in the browser window
  __init__.py
  plugin/import_fgm.py
  plugin/modules_import/operators.py
Due: none

tex - cleanup
  modules/formats/DDS.py
  version.txt
Due: none

ovl - emit sorted files list when loading
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

gui - automatically populate game selector without config
  gui/widgets.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - clean up game selection
  gui/widgets.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - get log widget settings from config
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - fix game folder view update
  gui/widgets.py
  version.txt
Due: check-imports

ms2 - refactor model looping
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

ms2 - import PC convex hull hitchecks
  plugin/modules_import/armature.py
  plugin/modules_import/collision.py
  version.txt
Due: none

ms2 - improve alignments for PC #199, add flag 549
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ModelReader.py
  generated/formats/ms2/compounds/Ms2InfoHeader.py
  generated/formats/ms2/compounds/NewMeshData.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - add message for 16 materials limit
  plugin/export_ms2.py
  version.txt
Due: none

ms2 - change message for 16 materials limit to error
  plugin/export_ms2.py
  version.txt
Due: none

gui - catch rename error for direct renaming in table
  ovl_tool_gui.py
  version.txt
Due: check-imports

ms2 - correctly transform ragdoll matrices
  plugin/modules_import/armature.py
  version.txt
Due: none
