Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

ms2 - document RagdollConstraint vec_b
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/RagdollConstraint.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - improve ragdoll import
  plugin/modules_import/armature.py
  version.txt
Due: none

ms2 - export updated joint transform, add basic Matrix class
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/Matrix.py
  generated/formats/ms2/compounds/Matrix33.py
  generated/formats/ms2/compounds/Matrix44.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  plugin/modules_import/collision.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/Matrix.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - IKEntryOld
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/IKEntryOld.py
  generated/formats/ms2/compounds/IKInfo.py
  generated/formats/ms2/compounds/UACJoint.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - improve PC joints #199
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/Cylinder.py
  generated/formats/ms2/compounds/ModelReader.py
  generated/formats/ms2/compounds/Sphere.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - improve PC joints #199
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/Capsule.py
  generated/formats/ms2/compounds/Cylinder.py
  generated/formats/ms2/compounds/HitCheck.py
  generated/formats/ms2/compounds/MeshCollision.py
  generated/formats/ms2/compounds/MeshCollisionData.py
  generated/formats/ms2/compounds/ModelReader.py
  generated/formats/ms2/compounds/Sphere.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - improve PC joints #199
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

ms2 - improve PC joints #199
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/MeshCollisionData.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

tex - update mip count unless tex has no mips
  generated/formats/dds/__init__.py
  modules/formats/DDS.py
  ovl_util/texconv.py
  source/formats/dds/__init__.py
  version.txt
Due: codegen

ms2 - improve PC joints #199
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/BoneInfo.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ms2/compounds/ModelReader.py
  generated/formats/ms2/compounds/ZerosPadding.py
  generated/formats/ms2/ms2.xml
  modules/walker.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - improve PC joints #199
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/HitcheckPointerReader.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  modules/walker.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/HitcheckPointerReader.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

manis - fix export
  plugin/export_manis.py
  version.txt
Due: none

gui - open with current_game chosen again
  gui/widgets.py
  version.txt
Due: check-imports

ms2 - fix blank mdl2 name
  generated/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

gui - don't spam log during batch operations
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - remove messages made superfluous by threading
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - refactor walkers
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - improve fix_bone_lengths logic
  plugin/modules_import/armature.py
  version.txt
Due: none

plugin - make all collections visible in view_layer to ensure applying modifiers works
  plugin/export_ms2.py
  version.txt
Due: none

ms2 - improve ModelFlag
  experimentals/modelflags.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/bitfields/ModelFlag.py
  generated/formats/ms2/ms2.xml
  modules/walker.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ovl - ignore non-cobra formats without erroring
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Error caused sometimes when opening a File dialog
  __init__.py
Due: none

base - more efficient zstring buffer reading
  generated/formats/base/compounds/ZStringBuffer.py
  generated/formats/ovl/__init__.py
  source/formats/base/compounds/ZStringBuffer.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

base - fix zstring buffer reading
  generated/formats/base/compounds/ZStringBuffer.py
  source/formats/base/compounds/ZStringBuffer.py
  version.txt
Due: codegen

base - cleanup zstring buffer reading
  generated/formats/base/compounds/ZStringBuffer.py
  source/formats/base/compounds/ZStringBuffer.py
  version.txt
Due: codegen

ms2 - decode rgba for flag 517
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/NewMeshData.py
  plugin/import_ms2.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

ms2 - automatically update buffer_infos
  generated/formats/ms2/__init__.py
  plugin/export_ms2.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

plugin - generate stream index on the fly
  plugin/export_ms2.py
  plugin/import_ms2.py
  plugin/modules_export/geometry.py
  plugin/utils/shell.py
  version.txt
Due: none

plugin - add todo for ms2 backups
  plugin/export_ms2.py
  version.txt
Due: none

ms2 - don't store model2stream as loose files
  generated/formats/ms2/__init__.py
  modules/formats/MS2.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

ms2 - remove modelstreams todo
  plugin/export_ms2.py
  version.txt
Due: none

ms2 - update stream counts
  generated/formats/ms2/__init__.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

plugin - export ms2 from scratch
  __init__.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/BoneInfo.py
  generated/formats/ms2/compounds/BonePointer.py
  generated/formats/ms2/ms2.xml
  plugin/export_ms2.py
  plugin/import_ms2.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

plugin - export ms2 from scratch with hitchecks
  plugin/modules_export/armature.py
  version.txt
Due: none

ms2 - join old+new joints, exp rigidbody loc+mass
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ms2/compounds/JointInfo.py
  generated/formats/ms2/compounds/RigidBody.py
  generated/formats/ms2/compounds/UACJointFF.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  plugin/import_ms2.py
  plugin/modules_export/armature.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - rename and move pack_swizzle_collision
  generated/formats/ms2/compounds/packing_utils.py
  plugin/modules_export/armature.py
  plugin/modules_export/collision.py
  plugin/modules_import/collision.py
  source/formats/ms2/compounds/packing_utils.py
  version.txt
Due: codegen

plugin - visualize 'friction' for rigidbody as vec
  __init__.py
  plugin/import_ms2.py
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  plugin/modules_import/collision.py
  version.txt
Due: none

ms2 - rename to xyz air_resistance
  __init__.py
  generated/formats/ms2/compounds/RigidBody.py
  generated/formats/ms2/ms2.xml
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

fgm - store shaders for JWE1 and PC
  constants/Jurassic World Evolution/shaders.py
  constants/Planet Coaster/shaders.py
  version.txt
Due: none
