Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

updated .trackmesh with better naming
  generated/formats/trackmesh/compounds/OffsetData.py
  generated/formats/trackmesh/compounds/TrackMeshElement.py
  generated/formats/trackmesh/compounds/TrackMeshObject.py
  generated/formats/trackmesh/compounds/TrackMeshRoot.py
  generated/formats/trackmesh/imports.py
  generated/formats/trackmesh/trackmesh.xml
  source/formats/trackmesh/trackmesh.xml
Due: codegen

update to .trackmesh to remove obj list count from the xml
  generated/formats/trackmesh/compounds/TrackMeshElement.py
  generated/formats/trackmesh/compounds/TrackMeshRoot.py
  generated/formats/trackmesh/trackmesh.xml
  source/formats/trackmesh/trackmesh.xml
Due: codegen

update logical controls for FB in PC
  generated/formats/logicalcontrols/compounds/Button.py
  generated/formats/logicalcontrols/compounds/ButtonData.py
  generated/formats/logicalcontrols/compounds/ButtonStr.py
  generated/formats/logicalcontrols/compounds/PCButtonData.py
  generated/formats/logicalcontrols/imports.py
  generated/formats/logicalcontrols/logicalcontrols.xml
  source/formats/logicalcontrols/logicalcontrols.xml
Due: codegen

updated format, but still crashing
  generated/formats/logicalcontrols/compounds/LogicalControls.py
  generated/formats/logicalcontrols/logicalcontrols.xml
  source/formats/logicalcontrols/logicalcontrols.xml
Due: codegen

gui - remove process folder button, add functions to folder view right click menu
  gui/widgets.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - make decompiling lua optional
  modules/formats/LUA.py
  ovl_util/config.py
  version.txt
Due: none

gui - add button to run selected game
  gui/widgets.py
  icons/bookmarks.svg
  icons/play.svg
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - fix rig edits for jwe2, pz
  generated/formats/ms2/compounds/BoneInfo.py
  generated/formats/ms2/ms2.xml
  modules/formats/MS2.py
  modules/walker.py
  plugin/modules_export/armature.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

use QThreadPool.globalInstance()
  gui/widgets.py
  version.txt
Due: check-imports

gui - improve icons
  icons/extract.png
  icons/extract.svg
  icons/inject.png
  icons/inject.svg
  icons/new.png
  icons/new.svg
  icons/rename.svg
  icons/rename_contents.svg
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - allow extract only if ovl is open
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - save ovl with threading
  generated/formats/ovl/__init__.py
  modules/formats/shared.py
  ovl_tool_gui.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen, check-imports

gui - improve extract all question
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - add walker todo
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - change bone info end alignment for PC
  generated/formats/ms2/compounds/ModelReader.py
  modules/formats/MS2.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

gui - change test for broken run
  tests/test_gui/test_gui_exec.py
  version.txt
Due: none

plugin - fix map_color_channel
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - fix JointData.namespace_length for PC
  generated/formats/base/compounds/ZStringBuffer.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ms2/compounds/ModelReader.py
  modules/formats/MS2.py
  source/formats/base/compounds/ZStringBuffer.py
  source/formats/ms2/compounds/JointData.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

dev - gitignore dev container settings
  .gitignore
Due: none

dev - handle dependencies via pyproject.toml
  .github/workflows/mkdocs.yaml
  .github/workflows/pytest.yaml
  README.md
  docs/Development/index.md
  docs/Download.md
  ovl_util/auto_updater.py
  pyproject.toml
  requirements-dev.txt
  requirements-mkdocs.txt
  requirements.txt
Due: none

dev - only increment version for user-facing changes
  bin/increment_version.py
Due: none

dev - bitarray as core dep bitarray package has published wheels for py3.11 and py3.12 since Jan 2024, and should be safely included as deps
  pyproject.toml
Due: none

dev - centralize handling of package version
  .github/workflows/pytest.yaml
  .pre-commit-config.yaml
  __init__.py
  __version__.py
  bin/increment_version.py
  ovl_util/logs.py
  pyproject.toml
  version.txt
Due: none

dev - version in pyproject.toml as single source of truth
  .pre-commit-config.yaml
  __init__.py
  __version__.py
  bin/increment_version.py
  pyproject.toml
Due: none

gui - move import of ovl games
  __version__.py
  gui/widgets.py
  ovl_tool_gui.py
Due: check-imports

plugin - cleanup rig edit
  __version__.py
  plugin/utils/rig.py
Due: none

plugin - fix rig edit bug
  __version__.py
  plugin/utils/rig.py
Due: none

codegen - use relative import, fix circular import, main script self-contained in module as __main__.py
  bin/run_codegen.py
  codegen/FilterXmlVersions.py
  codegen/Imports.py
  codegen/README.md
  codegen/Union.py
  codegen/Versions.py
  codegen/__main__.py
  codegen/expression.py
  codegen/naming_conventions.py
  docs/Development/Reverse-Engineering/OVL-File-Formats.md
Due: none

codegen - generalize path util module_path_to_file_path
  codegen/BaseClass.py
  codegen/Module.py
  codegen/__main__.py
  codegen/path_utils.py
Due: none

dev - avoid tracking files caused by different line endings in different OSes
  .gitattributes
  .gitmodules
  bin/run_codegen.py
Due: none

codegen - more robust coversion of import path for subdirectories
  codegen/BaseClass.py
  codegen/Versions.py
  codegen/__main__.py
  codegen/path_utils.py
Due: none

codegen - pull out module_path utils from classes & make usage of root_dir explicit
  codegen/BaseClass.py
  codegen/Imports.py
  codegen/Module.py
  codegen/Versions.py
  codegen/__main__.py
  codegen/path_utils.py
Due: none

codegen - parameterize source dir instead of hardcoding "source"
  codegen/BaseClass.py
  codegen/Bitfield.py
  codegen/Compound.py
  codegen/Enum.py
  codegen/__main__.py
Due: none

dev - source/ should not be imported
  source/formats/ms2/compounds/ChunkedMesh.py
Due: codegen

dev - only run codegen when files in source/ have changed
  bin/run_codegen.py
Due: none

codegen - parameterize root dir instead of importing from root_path
  codegen/BaseClass.py
  codegen/Bitfield.py
  codegen/Compound.py
  codegen/Enum.py
  codegen/Module.py
  codegen/__main__.py
Due: none

manis - #397 try importing anim even if segments fail
  __version__.py
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
Due: codegen

manis - closes #397 - no context for segments with 1 frame, better log levels
  __version__.py
  generated/formats/manis/__init__.py
  generated/formats/manis/logs/__init__.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
Due: codegen

tex - clamping of channel IDs according to compression type to select the correct subtype
  __version__.py
  ovl_util/imarray.py
Due: none

gui - #392 add experimental steam launching code
  __version__.py
  gui/widgets.py
Due: check-imports

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
