Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

Make Icon work on taskbar
  .gitignore
  .vscode/launch.json
  gui/__init__.py
  icons/opennaja.ico
Due: none

fix for .uimoviedefinition
  experimentals/convert_constants.py
  generated/formats/base/basic.py
  source/formats/base/basic.py
Due: codegen

Fix ori rel key columns, minor logic adjustment
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

re enable all frames importing
  plugin/import_manis.py
  version.txt
Due: none

ovl - extract files with path separators in name
  generated/formats/base/basic.py
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

gui - drag extracts dirs if extract creates subfolders
  ovl_tool_gui.py
  version.txt
Due: check-imports

ovl - create from folders and store relative path in file name
  generated/formats/ovl/__init__.py
  modules/formats/BANI.py
  modules/formats/DDS.py
  modules/formats/FDB.py
  modules/formats/MANI.py
  modules/formats/MS2.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

ovl - detect tex for png in dir injection
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Additional mime for warhammer
  generated/formats/sceneryobjectresource/__init__.py
  generated/formats/sceneryobjectresource/compounds/SceneryObjectResourceRoot.py
  generated/formats/sceneryobjectresource/compounds/__init__.py
  generated/formats/sceneryobjectresource/imports.py
  generated/formats/sceneryobjectresource/sceneryobjectresource.xml
  generated/formats/sceneryobjectresource/versions.py
  modules/formats/SCENERYOBJECTRESOURCE.py
  source/formats/sceneryobjectresource/sceneryobjectresource.xml
Due: codegen

seemingly okay pos bone keys, bad IK feet
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  version.txt
Due: none

Additional mimes specific to warhammer
  generated/formats/assetpackobjectlists/__init__.py
  generated/formats/assetpackobjectlists/assetpackobjectlists.xml
  generated/formats/assetpackobjectlists/compounds/AssetPackObject.py
  generated/formats/assetpackobjectlists/compounds/AssetPackObjectList.py
  generated/formats/assetpackobjectlists/compounds/AssetPackObjectListsRoot.py
  generated/formats/assetpackobjectlists/compounds/__init__.py
  generated/formats/assetpackobjectlists/imports.py
  generated/formats/assetpackobjectlists/versions.py
  generated/formats/sceneryobjectresource/sceneryobjectresource.xml
  generated/formats/spatialuitheme/__init__.py
  generated/formats/spatialuitheme/compounds/Color.py
  generated/formats/spatialuitheme/compounds/SpatialUIThemeRoot.py
  generated/formats/spatialuitheme/compounds/SpatialUIThemeTexture.py
  generated/formats/spatialuitheme/compounds/__init__.py
  generated/formats/spatialuitheme/imports.py
  generated/formats/spatialuitheme/spatialuitheme.xml
  generated/formats/spatialuitheme/versions.py
  modules/formats/ASSETPACKOBJECTLISTS.py
  modules/formats/SPATIALUITHEME.py
  source/formats/assetpackobjectlists/assetpackobjectlists.xml
  source/formats/sceneryobjectresource/sceneryobjectresource.xml
  source/formats/spatialuitheme/spatialuitheme.xml
Due: codegen

manis - improve rot decompression
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - import wsm for root motion
  plugin/import_manis.py
  version.txt
Due: none

manis - export wsm for root motion
  generated/formats/ovl_base/compounds/ArrayPointer.py
  plugin/export_manis.py
  source/formats/ovl_base/compounds/ArrayPointer.py
  version.txt
Due: codegen

physicssurfacesxmlres - versioning
  generated/formats/ovl_base/compounds/Pointer.py
  generated/formats/physicssurfacesxmlres/compounds/ArrWrapper.py
  generated/formats/physicssurfacesxmlres/compounds/CondArr.py
  generated/formats/physicssurfacesxmlres/compounds/OnlyName.py
  generated/formats/physicssurfacesxmlres/compounds/PhysicsSurfaceXMLResRoot.py
  generated/formats/physicssurfacesxmlres/compounds/SurfacePhysicsInfo.py
  generated/formats/physicssurfacesxmlres/imports.py
  generated/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  source/formats/ovl_base/compounds/Pointer.py
  source/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  version.txt
Due: codegen

ms2 - add enums for Hitcheck collision layers
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/HitCheck.py
  generated/formats/ms2/enums/Jwe1Collision.py
  generated/formats/ms2/enums/Jwe1Surface.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  generated/formats/physicssurfacesxmlres/compounds/PhysicsSurfaceXMLResRoot.py
  generated/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  modules/formats/PHYSICSSURFACEXMLRES.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  source/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  version.txt
Due: codegen

plugin - update joints for JWE1
  __init__.py
  generated/formats/ms2/__init__.py
  plugin/modules_export/armature.py
  plugin/modules_import/collision.py
  plugin/utils/properties.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

plugin - ignore and warn about .002 style suffixes in joint names
  plugin/export_ms2.py
  plugin/utils/matrix_util.py
  version.txt
Due: none

plugin - import IK targets
  plugin/modules_import/armature.py
  version.txt
Due: none

plugin - export IK targets
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  version.txt
Due: none

ms2 - improve spec for ik_count
  generated/formats/ms2/compounds/IKInfo.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

matcol - fix import
  plugin/import_matcol.py
  version.txt
Due: none

JWE2 - clean up structure for variants, patterns, layers
  generated/formats/dinosaurmaterialvariants/compounds/DinoPatternsHeader.py
  generated/formats/dinosaurmaterialvariants/compounds/DinoVariantsHeader.py
  generated/formats/dinosaurmaterialvariants/compounds/Layer.py
  generated/formats/dinosaurmaterialvariants/compounds/PatternArray.py
  generated/formats/dinosaurmaterialvariants/compounds/VariantArray.py
  generated/formats/dinosaurmaterialvariants/dinosaurmaterialvariants.xml
  generated/formats/dinosaurmaterialvariants/imports.py
  plugin/import_matcol.py
  source/formats/dinosaurmaterialvariants/dinosaurmaterialvariants.xml
  version.txt
Due: codegen

JWE2 - clean up structure for variants, patterns, layers
  generated/formats/dinosaurmaterialvariants/compounds/CommonHeader.py
  generated/formats/dinosaurmaterialvariants/compounds/DinoEffectsHeader.py
  generated/formats/dinosaurmaterialvariants/compounds/DinoLayersHeader.py
  generated/formats/dinosaurmaterialvariants/compounds/DinoPatternsHeader.py
  generated/formats/dinosaurmaterialvariants/compounds/DinoVariantsHeader.py
  generated/formats/dinosaurmaterialvariants/compounds/LayerArray.py
  generated/formats/dinosaurmaterialvariants/dinosaurmaterialvariants.xml
  generated/formats/dinosaurmaterialvariants/imports.py
  source/formats/dinosaurmaterialvariants/dinosaurmaterialvariants.xml
  version.txt
Due: codegen

manis - fix channel order for keys_flag, add key visualization
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - remove padding from UnkChunkList
  generated/formats/manis/__init__.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/UnkChunkList.py
  generated/formats/manis/manis.xml
  source/formats/manis/__init__.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

manis - write correct padding on writing
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/SegmentsReader.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/compounds/SegmentsReader.py
  version.txt
Due: codegen

manis - store root as header
  modules/formats/MANI.py
  version.txt
Due: none

manis - support external data stream, pad buffer2 x16
  generated/formats/manis/compounds/InfoHeader.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/manis.xml
  modules/formats/BaseFormat.py
  modules/formats/MANI.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

manis - fix extract
  modules/formats/MANI.py
  version.txt
Due: none

plugin - improve layers count check
  plugin/modules_export/geometry.py
  version.txt
Due: none

plugin - export second normals for JWE2 vegetation
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

ms2 - rename chunk.scale to precision
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/VertChunk.py
  generated/formats/ms2/ms2.xml
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

ms2 - clean up precision and move to MeshData
  experimentals/mesh_precision.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/MeshData.py
  generated/formats/ms2/compounds/NewMeshData.py
  plugin/export_ms2.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/MeshData.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

plugin - jwe2 trees import export custom normals
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/MeshData.py
  plugin/import_ms2.py
  plugin/modules_export/geometry.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/MeshData.py
  version.txt
Due: codegen

plugin - pz trees import export custom normals
  generated/formats/ms2/compounds/NewMeshData.py
  plugin/modules_export/geometry.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

manis - clean up, debug rot keys
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

bump version to 3.0.0
  __init__.py
  version.txt
Due: none

plugin - disable import of face maps (unused)
  plugin/import_ms2.py
  version.txt
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
