Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

plugin - cleanup lod counts for meshes
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/LodInfo.py
  generated/formats/ms2/ms2.xml
  plugin/export_ms2.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

plugin - cleanup debug prints
  plugin/export_ms2.py
  plugin/import_ms2.py
  plugin/modules_export/collision.py
  version.txt
Due: none

ms2 - allow injection with empty vert buffer
  generated/formats/ms2/__init__.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

ms2 - remove tris_address code
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/MeshData.py
  plugin/modules_export/collision.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/MeshData.py
  version.txt
Due: codegen

ms2 - flip hitcheck tris for correct normals
  plugin/modules_export/collision.py
  plugin/modules_import/collision.py
  version.txt
Due: none

fix merge of rig tools
  __init__.py
  plugin/utils/operators.py
  version.txt
Due: none

plugin - correctly swizzle bounds for mesh collision
  plugin/modules_export/collision.py
  version.txt
Due: none

reverse physmat, improve ms2 collision layers
  experimentals/physmat.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/HitCheck.py
  generated/formats/ms2/ms2.xml
  generated/formats/physmat/__init__.py
  generated/formats/physmat/compounds/PhysmatRoot.py
  generated/formats/physmat/compounds/__init__.py
  generated/formats/physmat/imports.py
  generated/formats/physmat/physmat.xml
  generated/formats/physmat/versions.py
  modules/formats/PHYSMAT.py
  plugin/modules_export/armature.py
  plugin/modules_import/collision.py
  source/formats/ms2/__init__.py
  source/formats/ms2/ms2.xml
  source/formats/physmat/__init__.py
  source/formats/physmat/physmat.xml
  version.txt
Due: codegen

plugin - fallback for old ms2 collision layers
  plugin/modules_export/armature.py
  version.txt
Due: none

physmat improve debug
  experimentals/physmat.py
  version.txt
Due: none

Update __init__.py Settings UI for rig edit generator
  __init__.py
Due: none

Update operators.py Settings for rig edit generator function input
  plugin/utils/operators.py
Due: none

Update shell.py Added "Apply armature" and "Merge nodes" settings to the main rig editing function
  plugin/utils/shell.py
Due: none

Update operators.py Fixed missing mergenodes input
  plugin/utils/operators.py
Due: none

Update shell.py adding missing **kwargs and reorder function
  plugin/utils/shell.py
Due: none

plugin - show classification and surface enums for JWE2 and PZ
  __init__.py
  experimentals/physmat.py
  modules/walker.py
  plugin/utils/properties.py
  version.txt
Due: none

physmat - print names on extract
  experimentals/physmat.py
  modules/formats/PHYSMAT.py
  version.txt
Due: none

plugin - import/export with collision enums
  plugin/import_ms2.py
  plugin/modules_export/armature.py
  plugin/modules_import/collision.py
  version.txt
Due: none

plugin - revert modelflag behavior
  plugin/utils/shell.py
  version.txt
Due: none

Ensure we have always a default index value for rolling backup names
  plugin/export_ms2.py
Due: none

Update README.md about blender 4.0
  README.md
Due: none

Updated constants folder to the right name
  constants/Warhammer Age of Sigmar - Realms of Ruin/hashes.py
  constants/Warhammer Age of Sigmar - Realms of Ruin/mimes.py
  constants/Warhammer Age of Sigmar - Realms of Ruin/shaders.py
Due: none

gui - don't change selected dir while bulk extraction is running
  ovl_tool_gui.py
  version.txt
Due: check-imports

Added menu element to show/hide the logger in dev mode
  ovl_tool_gui.py
Due: check-imports

ovl - check ovl magic and raise error for FREA or unknown magic
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

saved the show_log status to the config
  ovl_tool_gui.py
Due: check-imports

ovl - fix typo
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Update shaders.py for Warhammer AOS
  constants/Warhammer Age of Sigmar - Realms of Ruin/shaders.py
Due: none

ovl - supply preset_game to load, and use that if it is qualified
  generated/formats/ovl/__init__.py
  ovl_tool_gui.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen, check-imports

Update shell.py Rig editing enabled on bones with no parent
  plugin/utils/shell.py
Due: none

Update shell.py Added ability to edit bones with no parent, fixed merge groups failing if nodes had no parent
  plugin/utils/shell.py
Due: none

plugin - export ik info from blender
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  version.txt
Due: none

physicsurface - update struct for PC
  generated/formats/physicssurfacesxmlres/compounds/PhysicsSurfaceXMLResRoot.py
  generated/formats/physicssurfacesxmlres/compounds/Struct2.py
  generated/formats/physicssurfacesxmlres/compounds/Struct2Sub.py
  generated/formats/physicssurfacesxmlres/compounds/Struct3.py
  generated/formats/physicssurfacesxmlres/imports.py
  generated/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  source/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  version.txt
Due: codegen

physicsurface - update struct for PC, JWE2
  generated/formats/ovl_base/compounds/ArrayPointer.py
  generated/formats/physicssurfacesxmlres/compounds/CondArr.py
  generated/formats/physicssurfacesxmlres/compounds/PhysicsSurfaceXMLResRoot.py
  generated/formats/physicssurfacesxmlres/compounds/Struct2Sub.py
  generated/formats/physicssurfacesxmlres/compounds/Surface.py
  generated/formats/physicssurfacesxmlres/compounds/SurfacePhysicsInfo.py
  generated/formats/physicssurfacesxmlres/imports.py
  generated/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  source/formats/ovl_base/compounds/ArrayPointer.py
  source/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  version.txt
Due: codegen

physicsurface - change count to flag, not certain
  generated/formats/ms2/__init__.py
  generated/formats/physicssurfacesxmlres/compounds/Struct2Sub.py
  generated/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  modules/walker.py
  source/formats/ms2/__init__.py
  source/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  version.txt
Due: codegen

manis - improve reporting of missing bitarray module
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

plugin - detect and flip bone Y axes if needed (currently disabled)
  plugin/modules_import/armature.py
  plugin/utils/matrix_util.py
  plugin/utils/shell.py
  version.txt
Due: none
