Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

plugin - improve update lods ui
  __init__.py
  plugin/utils/lods.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - cleanup, refactor rig edit operator and ui
  __init__.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - move rig edit operators to mdl2 panel
  __init__.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - import pz animal variation shader
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - #370 improve pz animal variation
  constants/Planet Zoo/texchannels.py
  plugin/blends/AnimalVariation.blend
  version.txt
Due: none

plugin - #370 add color morph index switching tool to view panel
  plugin/utils/panels.py
  plugin/utils/properties.py
  version.txt
Due: none

plugin - #370 demote callback info to debug
  plugin/utils/properties.py
  version.txt
Due: none

plugin - fix rig edit context
  plugin/utils/properties.py
  plugin/utils/rig.py
  version.txt
Due: none

plugin - fix apply armature modifier api change
  plugin/utils/rig.py
  version.txt
Due: none

plugin - #370 add pz shader vars from list to view
  plugin/utils/panels.py
  plugin/utils/properties.py
  plugin/utils/var_names.py
  version.txt
Due: none

plugin - add psys only to shell for jwe2 add hair
  plugin/utils/shell.py
  version.txt
Due: none

plugin - set default fur_width weight
  plugin/utils/shell.py
  version.txt
Due: none

plugin - fix OP texchannels
  constants/Planet Zoo/texchannels.py
  plugin/utils/texture_settings.py
Due: none

plugin - missing texchannels from 5ac43abd
  plugin/utils/texture_settings.py
Due: none

Update README.md
  README.md
  version.txt
Due: none

FGM Walker - Bugfixes, full re-scan
  constants/Jurassic World Evolution 2/shaders.py
  constants/Jurassic World Evolution/shaders.py
  constants/Planet Coaster/shaders.py
  constants/Planet Zoo/shaders.py
  constants/Planet Zoo/shaders_extra.py
  modules/walker.py
  version.txt
Due: none

plugin - fix rig edit loc to scale
  plugin/utils/rig.py
  version.txt
Due: none

gui - user touching compression sets dirty
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - expose flag bitfield
  __init__.py
  generated/formats/ms2/bitfields/ModelFlag.py
  generated/formats/ms2/compounds/NewMeshData.py
  generated/formats/ms2/ms2.xml
  plugin/utils/operators.py
  plugin/utils/panels.py
  plugin/utils/properties.py
  source/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

plugin - use existing fur material if it exists
  plugin/utils/shell.py
  version.txt
Due: none

Update pz_animals.sql
  sql_commands/pz_animals.sql
  version.txt
Due: none

Temporarily disable cache for log widget
  gui/widgets.py
  version.txt
Due: check-imports

Search Content support Enter key
  gui/widgets.py
  version.txt
Due: check-imports

gui - close results with main tool
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - rename clear_chk to preserve_log
  gui/widgets.py
  version.txt
Due: check-imports

gui - use thread pool for threading, allow concurrent searches
  gui/widgets.py
  mod_tool_gui.py
  ovl_tool_gui.py
  pack_tool_gui.py
  version.txt
Due: check-imports

gui - improve search archives threading
  gui/widgets.py
  modules/walker.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - fix search archives log override
  modules/walker.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

Tests: OVLTool fixture multiple game choices
  tests/test_gui/test_gui_exec.py
  version.txt
Due: none

trackstation - clean up spec, fix injection pointer logic
  experimentals/threading_experiment.py
  generated/formats/ovl_base/compounds/ArrayPointer.py
  generated/formats/ovl_base/compounds/ForEachPointer.py
  generated/formats/ovl_base/compounds/Pointer.py
  generated/formats/ovl_base/compounds/Reference.py
  generated/formats/trackstation/compounds/CommonChunk.py
  generated/formats/trackstation/compounds/CornerEdgeTrack.py
  generated/formats/trackstation/compounds/FirstPointersa.py
  generated/formats/trackstation/compounds/FrontMidBack.py
  generated/formats/trackstation/compounds/TrackOnly.py
  generated/formats/trackstation/compounds/TrackStationRoot.py
  generated/formats/trackstation/compounds/Vector3.py
  generated/formats/trackstation/imports.py
  generated/formats/trackstation/trackstation.xml
  modules/walker.py
  source/formats/ovl_base/compounds/ArrayPointer.py
  source/formats/ovl_base/compounds/ForEachPointer.py
  source/formats/ovl_base/compounds/Pointer.py
  source/formats/ovl_base/compounds/Reference.py
  source/formats/trackstation/trackstation.xml
  version.txt
Due: codegen

gui - force lowercase in search_entry
  gui/widgets.py
  version.txt
Due: check-imports

gui - add tooltip for search_entry
  gui/widgets.py
  version.txt
Due: check-imports

gui - update research icons
  icons/animalresearchstartunlockedsettings.png
  icons/animalresearchstartunlockedsettings.svg
  icons/animalresearchunlockssettings.png
  icons/animalresearchunlockssettings.svg
  icons/mechanicresearchsettings.svg
  icons/scenariomechanicresearchsettings.svg
  version.txt
Due: none

plugin - only add rgba0 layer if needed
  plugin/utils/shell.py
  version.txt
Due: none

research - clean up + fix inject
  modules/formats/ANIMALRESEARCHUNLOCKSSETTINGS.py
  modules/formats/MECHANICRESEARCHSETTINGS.py
  version.txt
Due: none

ridesettings - improve spec
  generated/formats/ridesettings/compounds/RideSettingsRoot.py
  generated/formats/ridesettings/ridesettings.xml
  source/formats/ridesettings/ridesettings.xml
  version.txt
Due: codegen

frendercontextset - improve spec
  generated/formats/frendercontextset/compounds/ContextSet1Item.py
  generated/formats/frendercontextset/compounds/ContextSet2Item.py
  generated/formats/frendercontextset/compounds/ContextSet3Item.py
  generated/formats/frendercontextset/compounds/ContextSet3SubItem.py
  generated/formats/frendercontextset/compounds/FRenderContextSetRoot.py
  generated/formats/frendercontextset/compounds/FeatureOption.py
  generated/formats/frendercontextset/compounds/LayerMap.py
  generated/formats/frendercontextset/compounds/RenderFeature.py
  generated/formats/frendercontextset/compounds/RenderLayer.py
  generated/formats/frendercontextset/frendercontextset.xml
  generated/formats/frendercontextset/imports.py
  source/formats/frendercontextset/frendercontextset.xml
  version.txt
Due: codegen

janitorsettings - improve spec
  generated/formats/janitorsettings/compounds/JanitorSettingsRoot.py
  generated/formats/janitorsettings/janitorsettings.xml
  source/formats/janitorsettings/janitorsettings.xml
  version.txt
Due: codegen

frenderlodspec - improve spec
  generated/formats/frenderlodspec/compounds/FRenderLodSpecRoot.py
  generated/formats/frenderlodspec/compounds/LodGroup.py
  generated/formats/frenderlodspec/compounds/LodSpecItem.py
  generated/formats/frenderlodspec/frenderlodspec.xml
  generated/formats/frenderlodspec/imports.py
  source/formats/frenderlodspec/frenderlodspec.xml
  version.txt
Due: codegen

guestonrideanimsettings - improve spec
  generated/formats/guestonrideanimsettings/compounds/GuestOnRideAnimSettingsChild.py
  generated/formats/guestonrideanimsettings/compounds/GuestOnRideAnimSettingsRoot.py
  generated/formats/guestonrideanimsettings/compounds/RideAnims.py
  generated/formats/guestonrideanimsettings/guestonrideanimsettings.xml
  generated/formats/guestonrideanimsettings/imports.py
  source/formats/guestonrideanimsettings/guestonrideanimsettings.xml
  version.txt
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
