Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

OVL - Greatly improve Oodle compression speed
  generated/formats/ovl/__init__.py
  ovl_util/oodle/oodle.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

refactor some oodle and gui stuff
  generated/formats/ovl/__init__.py
  ovl_tool_gui.py
  ovl_util/oodle/oodle.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen, check-imports

OVL - Fix Oodle compression for certain buffer sizes
  generated/formats/ovl/__init__.py
  ovl_util/oodle/oodle.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

OVL - Oodle compression cleanup
  generated/formats/ovl/__init__.py
  ovl_util/oodle/oodle.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Blender - PZ Detail texchannel fixes
  constants/Planet Zoo/texchannels.py
  version.txt
Due: none

Blender - FlexiDiffuse disable unknown factor for now
  plugin/blends/FlexiDiffuse.blend
  version.txt
Due: none

plugin #370 connect Detail_Basic and Detail shaders
  plugin/blends/AnimalVariation.blend
  plugin/modules_import/material.py
  version.txt
Due: none

Blender - #370 fix Detail shader
  constants/Planet Zoo/texchannels.py
  plugin/modules_import/material.py
  version.txt
Due: none

Update .gitignore
  .gitignore
  version.txt
Due: none

Blender - Fix FlexiDiffuse output
  plugin/blends/FlexiDiffuse.blend
  version.txt
Due: none

Blender - #370 temporarily add Mapping nodes
  plugin/modules_import/material.py
  version.txt
Due: none

plugin #370 fix label for tex files that don't match the tex name
  plugin/modules_import/material.py
  version.txt
Due: none

plugin #370 connect UV inputs for detail shaders
  plugin/blends/Detail.blend
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - cleanup import game code
  plugin/modules_import/material.py
  version.txt
Due: none

gui - #382 prototype cfg manager with automatic GUI and different saving behaviors
  gui/widgets.py
  ovl_util/config.py
  version.txt
Due: check-imports

Blender - Fix Metallic_Roughness_Opaque_BC7
  constants/Jurassic World Evolution 2/textures.py
  constants/Planet Zoo/textures.py
  version.txt
Due: none

Blender - #370 Initial transparency improvements
  constants/Jurassic World Evolution 2/texchannels.py
  constants/Jurassic World Evolution 2/textures.py
  constants/Planet Zoo/texchannels.py
  constants/Planet Zoo/textures.py
  plugin/modules_import/material.py
  plugin/utils/texture_settings.py
  version.txt
Due: none

Blender - #370 Missing JWE2 Foliage overrides
  constants/Jurassic World Evolution 2/textures.py
  version.txt
Due: none

Blender - #370 Detail_Basic for JWE2
  constants/Jurassic World Evolution 2/texchannels.py
  ovl_util/imarray.py
  version.txt
Due: none

Added PZ navigationsettings mime
  generated/formats/navigationsettings/__init__.py
  generated/formats/navigationsettings/compounds/NavigationAreaCostsData.py
  generated/formats/navigationsettings/compounds/NavigationAreaCostsFilter.py
  generated/formats/navigationsettings/compounds/NavigationModeFilter.py
  generated/formats/navigationsettings/compounds/NavigationSettingsRoot.py
  generated/formats/navigationsettings/compounds/NavigationTestList.py
  generated/formats/navigationsettings/compounds/__init__.py
  generated/formats/navigationsettings/imports.py
  generated/formats/navigationsettings/navigationsettings.xml
  generated/formats/navigationsettings/versions.py
  modules/formats/NAVIGATIONSETTINGS.py
  source/formats/navigationsettings/navigationsettings.xml
  version.txt
Due: codegen

Blender - #370 Channel splitting for RGBA colors per their texture slot splitting rules
  plugin/modules_import/material.py
  version.txt
Due: none

Blender - #370 add shader name for PC
  constants/Planet Coaster/texchannels.py
  plugin/utils/properties.py
  version.txt
Due: none

Blender - #370 improve position of nodes in node tree
  plugin/modules_import/material.py
  plugin/utils/node_arrange.py
  version.txt
Due: none

Blender - #370 improve position of nodes in node tree #2
  plugin/modules_import/material.py
  plugin/utils/node_arrange.py
  version.txt
Due: none

Blender - #370 improve comments for node layout
  plugin/utils/node_arrange.py
  version.txt
Due: none

Blender - #370 improve flexi check
  plugin/modules_import/material.py
  version.txt
Due: none

Create combinefdbs.py
  experimentals/combinefdbs.py
  version.txt
Due: none

manis - #381 import phaseStream + BlendHeadLookOut
  plugin/import_manis.py
  version.txt
Due: none

manis - #381 export constraint keys, fix sinking
  plugin/export_manis.py
  plugin/import_manis.py
  plugin/modules_import/anim.py
  plugin/utils/anim.py
  version.txt
Due: none

manis - #381 remove todo
  plugin/export_manis.py
  version.txt
Due: none

manis - #381 cleanup
  generated/formats/manis/bitfields/PosBaseKey.py
  generated/formats/manis/compounds/ManiInfo.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  source/formats/manis/manis.xml
  version.txt
Due: codegen

fix ztuac ms2 import
  plugin/import_ms2.py
  plugin/utils/properties.py
  version.txt
Due: none

manis - #381 support ZTUAC
  generated/formats/manis/__init__.py
  generated/formats/manis/compounds/LimbChunkZt.py
  generated/formats/manis/compounds/LimbInfoZT.py
  generated/formats/manis/compounds/LimbTrackDataZT.py
  generated/formats/manis/manis.xml
  plugin/import_manis.py
  plugin/modules_import/armature.py
  plugin/utils/transforms.py
  source/formats/manis/__init__.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

manis - #381 investigate WH
  generated/formats/manis/__init__.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/compounds/ManiInfo.py
  generated/formats/manis/compounds/SegmentsReader.py
  generated/formats/manis/compounds/UshortLut.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  source/formats/manis/__init__.py
  source/formats/manis/compounds/SegmentsReader.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

manis - #381 eyeball FOV import, prerequisites for export
  plugin/export_manis.py
  plugin/import_manis.py
  version.txt
Due: none

manis - #381 cleanup manis version export
  generated/formats/manis/manis.xml
  generated/formats/manis/versions.py
  plugin/export_manis.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

manis - #381 fix camera action export
  plugin/export_manis.py
  plugin/import_manis.py
  plugin/modules_export/armature.py
  version.txt
Due: none

changes for lua injection
  modules/formats/LUA.py
  ovl_util/texconv.py
  version.txt
Due: none

manis - #381 fix padding for ZTUAC
  generated/formats/manis/__init__.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/LimbTrackDataZT.py
  generated/formats/manis/manis.xml
  source/formats/manis/__init__.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen
