Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

Add .vscode settings
  .vscode/launch.json
  .vscode/settings.json
  version.txt
Due: none

Restructure tests
  tests/__init__.py
  tests/test_gui/__init__.py
  tests/test_gui/test_gui_exec.py
  tests/test_ovl/__init__.py
  tests/test_ovl/test_ovl_includes.py
  tests/test_ovl/test_ovl_save_create.py
  tests/unit/__init__.py
  version.txt
Due: none

Fix check imports hook OK message
  bin/check_imports.py
  version.txt
Due: none

Logging refactor
  bnk_gui.py
  fgm_editor_gui.py
  gui/__init__.py
  gui/setup/__init__.py
  gui/setup/bnk_gui_setup.py
  gui/setup/fgm_editor_setup.py
  gui/setup/matcol_editor_setup.py
  gui/setup/mod_tool_setup.py
  gui/setup/ms2_tool_setup.py
  gui/setup/ovl_tool_setup.py
  gui/widgets.py
  matcol_editor_gui.py
  mod_tool_gui.py
  ms2_tool_gui.py
  ovl_tool_gui.py
  ovl_util/logs.py
  pyproject.toml
  tests/__init__.py
  tests/test_gui/test_gui_exec.py
  version.txt
Due: check-imports

Update pytest.yaml
  .github/workflows/pytest.yaml
  version.txt
Due: none

New TextEditLogger widget
  gui/widgets.py
  icons/critical.svg
  icons/debug.svg
  icons/error.svg
  icons/info.svg
  icons/success.svg
  icons/warning.svg
  ovl_tool_gui.py
  ovl_util/logs.py
  version.txt
Due: check-imports

GUI options class for app setup
  bnk_gui.py
  fgm_editor_gui.py
  gui/__init__.py
  gui/widgets.py
  matcol_editor_gui.py
  mod_tool_gui.py
  ms2_tool_gui.py
  ovl_tool_gui.py
  tests/test_gui/test_gui_exec.py
  version.txt
Due: check-imports

Fix missed debugging
  gui/widgets.py
  version.txt
Due: check-imports

Fix logger auto-scroll
  gui/widgets.py
  version.txt
Due: check-imports

#348 - improve dependency warning
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

#348 - get/set game for ovl
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

#348 - make exceptions capitalized
  generated/base_struct.py
  generated/formats/ovl/__init__.py
  plugin/import_ms2.py
  plugin/modules_import/armature.py
  source/base_struct.py
  version.txt
Due: codegen

#348 - improve errors in base_struct.py
  generated/base_struct.py
  source/base_struct.py
  version.txt
Due: codegen

#348 - fix issue in base_struct.py
  generated/base_struct.py
  source/base_struct.py
  version.txt
Due: codegen

#348 - improve motiongraph activity warning, demote to debug
  generated/formats/motiongraph/compounds/Activity.py
  source/formats/motiongraph/compounds/Activity.py
  version.txt
Due: codegen

#348 - don't log imageio/PIL png debug messages
  modules/formats/DDS.py
  modules/formats/VOXELSKIRT.py
  ovl_util/imarray.py
  version.txt
Due: none

#348 - improve case and normalization of paths, especially for tex
  generated/formats/dds/__init__.py
  generated/formats/ovl/__init__.py
  modules/formats/DDS.py
  modules/helpers.py
  ovl_util/imarray.py
  source/formats/dds/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

#348 - demote log_duration finished message to debug
  modules/formats/shared.py
  version.txt
Due: none

#348 - make open_streams a contextmanager, demote its logging
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

#348 - remove loading structs message
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Capture luacheck warnings and errors
  ovl_util/texconv.py
  version.txt
Due: none

Filter luacheck warnings and errors
  ovl_util/texconv.py
  version.txt
Due: none

Change luacheck warnings and errors levels
  ovl_util/texconv.py
  version.txt
Due: none

Removed __hash__ from bitfield and added __bool__.
  generated/bitfield.py
  source/bitfield.py
Due: codegen

Reordered manis.xml SegmentsReader and UnkChunkList to conform to expected order.
  generated/formats/manis/compounds/CompressedManiData.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  source/formats/manis/manis.xml
Due: codegen

Move plugin updater
  __init__.py
  plugin/addon_updater.py
  plugin/addon_updater_ops.py
  version.txt
Due: none

Remove old files
  icon.ico
  ovl_tool.bat
  test.bat
  version.txt
Due: none

Fix fgm editor saving, closes #351
  fgm_editor_gui.py
  version.txt
Due: check-imports

Fix auto-updater by deferring qt_theme
  gui/__init__.py
  gui/qt_theme.py
  gui/widgets.py
  version.txt
Due: check-imports

MainWindow rename some widgets
  bnk_gui.py
  gui/widgets.py
  mod_tool_gui.py
  ms2_tool_gui.py
  ovl_tool_gui.py
  tests/test_gui/test_gui_exec.py
  version.txt
Due: check-imports

Force int for bitfield _value field.
  generated/bitfield.py
  source/bitfield.py
Due: codegen

Refactor plugin code, auto-set pack_base from mesh dimensions, remove pack_base from gui
  __init__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/packing_utils.py
  plugin/export_ms2.py
  plugin/import_ms2.py
  plugin/modules_export/geometry.py
  plugin/modules_export/material.py
  plugin/modules_export/operators.py
  plugin/modules_import/collision.py
  plugin/modules_import/operators.py
  plugin/utils/matrix_util.py
  plugin/utils/object.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/packing_utils.py
  version.txt
Due: codegen

matcol - only increment if has_ptr is 1
  generated/formats/dinosaurmaterialvariants/__init__.py
  generated/formats/dinosaurmaterialvariants/dinosaurmaterialvariants.xml
  source/formats/dinosaurmaterialvariants/__init__.py
  source/formats/dinosaurmaterialvariants/dinosaurmaterialvariants.xml
  version.txt
Due: codegen

matcol - fix tile formatting
  generated/formats/dinosaurmaterialvariants/__init__.py
  source/formats/dinosaurmaterialvariants/__init__.py
  version.txt
Due: codegen

clean up armature, hide joints and hitchecks by default
  plugin/import_ms2.py
  plugin/modules_import/armature.py
  plugin/utils/object.py
  version.txt
Due: none

Remove unused code from Version class
  codegen/expression.py
Due: none

Fix ms2 walker
  generated/formats/ms2/compounds/AfterJointsPadding.py
  modules/walker.py
  source/formats/ms2/compounds/AfterJointsPadding.py
  version.txt
Due: codegen

Store precision on ModelInfo
  generated/formats/ms2/compounds/ModelInfo.py
  generated/formats/ms2/ms2.xml
  modules/walker.py
  plugin/export_ms2.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

Improve hair conversion
  plugin/modules_import/hair.py
  version.txt
Due: none
