Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

manis - improve spec for JWE1
  generated/formats/manis/compounds/CompressedManiData.py
  generated/formats/manis/compounds/FloatsGrabber.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/ManiInfo.py
  generated/formats/manis/manis.xml
  modules/formats/MANI.py
  source/formats/manis/compounds/FloatsGrabber.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

Manually restore old shader
  constants/Planet Zoo/shaders_extra.py
Due: none

PZ texchannels
  constants/Planet Zoo/texchannels.py
  plugin/utils/texture_settings.py
Due: none

Add missing extraction splits
  ovl_util/imarray.py
Due: none

Walker - Add missing DLC substring for Planet Coaster
  modules/walker.py
Due: none

gui - add framework for context menus to table widget, add open and show in explorer to search results
  gui/widgets.py
  ovl_tool_gui.py
  ovl_util/auto_updater.py
  version.txt
Due: check-imports

gui - make file search threaded
  ovl_tool_gui.py
  version.txt
Due: check-imports

Walker Refactor
  gui/widgets.py
  modules/walker.py
  ovl_tool_gui.py
Due: check-imports

PZ 1.16 FGM Inspection
  constants/Planet Zoo/shaders.py
  constants/Planet Zoo/shaders_extra.py
Due: none

tex - only warn about non-power-of-2 tex with mips
  modules/formats/DDS.py
  version.txt
Due: none

manis - pick manis version on export
  plugin/export_manis.py
  version.txt
Due: none

lua - fix rename contents
  modules/formats/LUA.py
  version.txt
Due: none

Update HSL Mask definitions
  constants/Planet Zoo/texchannels.py
  plugin/utils/texture_settings.py
Due: none

Update marking definitions
  constants/Planet Zoo/texchannels.py
  plugin/utils/texture_settings.py
Due: none

Update LUT definitions
  constants/Planet Zoo/texchannels.py
  plugin/utils/texture_settings.py
Due: none

AnimalVariation - Initial Commit
  plugin/blends/AnimalVariation.blend
Due: none

Update channel definitions
  constants/Planet Zoo/texchannels.py
  plugin/utils/texture_settings.py
Due: none

Detail and Detail_Basic - Initial Commit
  plugin/blends/Detail.blend
Due: none

Detail and Detail_Basic - Naming cleanup, fixes
  plugin/blends/Detail.blend
Due: none

Detail and Detail_Basic - Fixes
  plugin/blends/Detail.blend
Due: none

gui - fix stretching
  ovl_tool_gui.py
  version.txt
Due: check-imports

bump version number
  __init__.py
  version.txt
Due: none

manis - update xml, fix resize for JWE2
  experimentals/resize_manis.py
  generated/formats/manis/__init__.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/LimbChunk.py
  generated/formats/manis/compounds/LimbChunkReader.py
  generated/formats/manis/compounds/LimbChunkReaderZt.py
  generated/formats/manis/compounds/LimbChunkZt.py
  generated/formats/manis/compounds/LimbInfo.py
  generated/formats/manis/compounds/LimbInfoZT.py
  generated/formats/manis/compounds/LimbTrackData.py
  generated/formats/manis/compounds/LimbTrackDataZT.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/compounds/SubChunkReaderZt.py
  generated/formats/manis/compounds/UnkChunkListZT.py
  generated/formats/manis/compounds/WeirdElementTwoReader.py
  generated/formats/manis/imports.py
  generated/formats/manis/manis.xml
  source/formats/manis/__init__.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/compounds/LimbChunkReader.py
  source/formats/manis/compounds/LimbChunkReaderZt.py
  source/formats/manis/compounds/WeirdElementTwoReader.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

plugin - make getting lod collections more robust
  plugin/export_ms2.py
  plugin/utils/shell.py
  version.txt
Due: none

fix ms2 walker
  modules/walker.py
  version.txt
Due: none

plugin - add apply pose helper
  __init__.py
  plugin/utils/operators.py
  plugin/utils/rig.py
  version.txt
Due: none

fix rename contents crashing ovl tool on reopening
  modules/formats/BaseFormat.py
  version.txt
Due: none

gui - add get_open_file_name wrapper for QFileDialog.getOpenFileName
  fgm_editor_gui.py
  gui/widgets.py
  ms2_tool_gui.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - add suggested_file_path to ask_save_as
  gui/widgets.py
  version.txt
Due: check-imports

gui - fix split for requirements version, clean up
  gui/widgets.py
  ovl_util/auto_updater.py
  version.txt
Due: check-imports

fix rename + rename contents for ovls with lua files
  generated/formats/ovl/compounds/MemPool.py
  modules/formats/BaseFormat.py
  modules/formats/LUA.py
  source/formats/ovl/compounds/MemPool.py
  version.txt
Due: codegen

gui - remove walker extracts ovls toggle
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - add tooltips for current ovl widgets
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - clean up auto updater
  ovl_util/auto_updater.py
  version.txt
Due: none

gui - show dialog and close when show logger is toggled
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - #368 new mdl2 panel
  __init__.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - #368 move create lods to mdl2 panel, only work on current collection
  __init__.py
  plugin/export_ms2.py
  plugin/utils/lods.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  plugin/utils/shell.py
  version.txt
Due: none

motiongraph - possible rename contents fix for JWE1
  modules/formats/BaseFormat.py
  modules/formats/MOTIONGRAPH.py
  version.txt
Due: none

motiongraph - fix recursions
  modules/formats/MOTIONGRAPH.py
  version.txt
Due: none

motiongraph - revert version check
  modules/formats/BaseFormat.py
  modules/formats/MOTIONGRAPH.py
  version.txt
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
