Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

Docs - Again try to fix remote snippets
  mkdocs.yml
  version.txt
Due: none

Docs - Again again with the remote snippets
  mkdocs.yml
  version.txt
Due: none

Docs - Again Again Again w/ the remote snippets...
  mkdocs.yml
  version.txt
Due: none

Docs - Again Again Again Again remote snippets
  docs/.snippets/abbreviations.md
  docs/.snippets/blender-addons.md
  docs/.snippets/blender-log.md
  mkdocs.yml
  version.txt
Due: none

Docs - Discord icons and channel linking info
  docs/Development/Documentation/Documentation-Guidelines.md
  docs/overrides/.icons/discord/announcements.svg
  docs/overrides/.icons/discord/channel.svg
  docs/overrides/.icons/discord/rules.svg
  docs/overrides/.icons/discord/topic.svg
  mkdocs.yml
  version.txt
Due: none

Docs - Interactive Terms of Conduct
  docs/.snippets/terms-of-conduct.md
  docs/Disclaimers.md
  docs/Download.md
  docs/assets/stylesheets/extra.css
  mkdocs.yml
  version.txt
Due: none

Docs - Download admonition opacity
  docs/assets/stylesheets/extra.css
  version.txt
Due: none

Docs - Add Blog plugin
  docs/SUMMARY.md
  docs/blog/.authors.yml
  docs/blog/index.md
  docs/blog/posts/2024-04-02-Welcome.md
  mkdocs.yml
  version.txt
Due: none

add support for the researchdata and techtree mimes
  generated/formats/researchdata/__init__.py
  generated/formats/researchdata/compounds/AppliedGlobalBuff.py
  generated/formats/researchdata/compounds/FxDataName.py
  generated/formats/researchdata/compounds/FxDataSettings.py
  generated/formats/researchdata/compounds/ResearchAffectSquadloadouts.py
  generated/formats/researchdata/compounds/ResearchAffectedSquaddata.py
  generated/formats/researchdata/compounds/ResearchAffectedSquadloadout.py
  generated/formats/researchdata/compounds/ResearchDataAppliesToSquad.py
  generated/formats/researchdata/compounds/ResearchDescriptionLoc.py
  generated/formats/researchdata/compounds/ResearchFXData.py
  generated/formats/researchdata/compounds/ResearchRoot.py
  generated/formats/researchdata/compounds/SquadReplacementData.py
  generated/formats/researchdata/compounds/SubResearchFXData.py
  generated/formats/researchdata/compounds/__init__.py
  generated/formats/researchdata/imports.py
  generated/formats/researchdata/researchdata.xml
  generated/formats/researchdata/versions.py
  generated/formats/techtree/__init__.py
  generated/formats/techtree/compounds/MutexResearch.py
  generated/formats/techtree/compounds/ResearchDataDep.py
  generated/formats/techtree/compounds/TechLevel.py
  generated/formats/techtree/compounds/TechTreeRoot.py
  generated/formats/techtree/compounds/__init__.py
  generated/formats/techtree/imports.py
  generated/formats/techtree/techtree.xml
  generated/formats/techtree/versions.py
  modules/formats/RESEARCHDATA.py
  modules/formats/TECHTREE.py
  source/formats/researchdata/researchdata.xml
  source/formats/techtree/techtree.xml
  version.txt
Due: codegen

ammend researchdata to not reuse pointer name
  generated/formats/researchdata/compounds/FxDataSettings.py
  generated/formats/researchdata/researchdata.xml
  source/formats/researchdata/researchdata.xml
  version.txt
Due: codegen

OVL - Ignore certain subfolders for add_files
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Dev - VS Code XML associations
  .vscode/settings.json
  version.txt
Due: none

add support for sceneryobjectresource all pointers mapped
  generated/formats/sceneryobjectresource/compounds/SceneryObjectResourceRoot.py
  generated/formats/sceneryobjectresource/sceneryobjectresource.xml
  source/formats/sceneryobjectresource/sceneryobjectresource.xml
  version.txt
Due: codegen

ror-sceneryobjectresource empty commit after rebase
  version.txt
Due: none

manis export - detect animated bones from baked movement, not channels
  plugin/export_manis.py
  version.txt
Due: none

manis import - fix logic for floats
  plugin/import_manis.py
  version.txt
Due: none

manis export - convert root motion to float channels
  plugin/export_manis.py
  version.txt
Due: none

RoR Chapterdata and Codexdata
  generated/formats/chapterdata/__init__.py
  generated/formats/chapterdata/chapterdata.xml
  generated/formats/chapterdata/compounds/ChapterData.py
  generated/formats/chapterdata/compounds/ChapterDataInfo.py
  generated/formats/chapterdata/compounds/ChapterDataRoot.py
  generated/formats/chapterdata/compounds/__init__.py
  generated/formats/chapterdata/imports.py
  generated/formats/chapterdata/versions.py
  generated/formats/codexdata/__init__.py
  generated/formats/codexdata/codexdata.xml
  generated/formats/codexdata/compounds/CodexChapter.py
  generated/formats/codexdata/compounds/CodexDataRoot.py
  generated/formats/codexdata/compounds/__init__.py
  generated/formats/codexdata/imports.py
  generated/formats/codexdata/versions.py
  modules/formats/CHAPTERDATA.py
  modules/formats/CODEXDATA.py
  source/formats/chapterdata/chapterdata.xml
  source/formats/codexdata/codexdata.xml
  version.txt
Due: codegen

Update to AssetpackObjectLists
  generated/formats/assetpackobjectlists/assetpackobjectlists.xml
  generated/formats/assetpackobjectlists/compounds/AssetPackObjectList.py
  generated/formats/assetpackobjectlists/compounds/SceneryObjectResourceRef.py
  generated/formats/assetpackobjectlists/compounds/UnitRef.py
  generated/formats/assetpackobjectlists/imports.py
  source/formats/assetpackobjectlists/assetpackobjectlists.xml
  version.txt
Due: codegen

fix for AssetPackObjectLists, missing pack name
  generated/formats/assetpackobjectlists/assetpackobjectlists.xml
  generated/formats/assetpackobjectlists/compounds/AssetPackObjectList.py
  source/formats/assetpackobjectlists/assetpackobjectlists.xml
  version.txt
Due: codegen

manis export - export current action per armature
  plugin/export_manis.py
  plugin/export_ms2.py
  plugin/modules_export/armature.py
  version.txt
Due: none

manis export - also export actions from NLA tracks
  plugin/export_manis.py
  version.txt
Due: none

manis import - add imported actions to NLA tracks of current armature
  plugin/import_manis.py
  version.txt
Due: none

manis - add docs
  docs/Guides/Plugin/Animations.md
  version.txt
Due: none

manis export - option to export separate manis per armature #381
  plugin/export_manis.py
  plugin/modules_export/operators.py
  version.txt
Due: none

april 9 announcement
  docs/blog/posts/2024-04-09-NajaAnnounce.md
  version.txt
Due: none

plugin - #368 Correctly copy Custom Properties when using Duplicate in MDL2 panel
  plugin/utils/collection.py
  version.txt
Due: none

manis - improve docs
  docs/Guides/Plugin/Animations.md
  version.txt
Due: none

# 378 Quotations in .wsm
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

# 378 .casinolod
  generated/formats/casinolod/__init__.py
  generated/formats/casinolod/casinolod.xml
  generated/formats/casinolod/compounds/CasinoLodRoot.py
  generated/formats/casinolod/compounds/Lod.py
  generated/formats/casinolod/compounds/LodGroup.py
  generated/formats/casinolod/compounds/__init__.py
  generated/formats/casinolod/imports.py
  generated/formats/casinolod/versions.py
  modules/formats/CASINOLOD.py
  source/formats/casinolod/casinolod.xml
  version.txt
Due: codegen

Blender - Fix FlexiDIffuse Non-Additive Blending
  plugin/blends/FlexiDiffuse.blend
  version.txt
Due: none

Blender - Fix AnimalVariation
  plugin/blends/AnimalVariation.blend
  version.txt
Due: none

OVL Tool - Use walk_root to support full game operations
  ovl_tool_gui.py
  version.txt
Due: check-imports

fix pBaseAOTexture in texchannels jwe2
  constants/Jurassic World Evolution 2/texchannels.py
  version.txt
Due: none

ms2 - #377 support JWE1 ball and hinge constraints
  generated/formats/ms2/compounds/BallConstraint.py
  generated/formats/ms2/compounds/Constraint.py
  generated/formats/ms2/compounds/HingeConstraint.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ms2/compounds/RagdollConstraint.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

AssetPackage flag found
  generated/formats/assetpkg/assetpkg.xml
  generated/formats/assetpkg/compounds/AssetpkgRoot.py
  source/formats/assetpkg/assetpkg.xml
  version.txt
Due: codegen

assetpkg - make shared flag optional
  generated/formats/assetpkg/assetpkg.xml
  generated/formats/assetpkg/compounds/AssetpkgRoot.py
  source/formats/assetpkg/assetpkg.xml
  version.txt
Due: codegen

ovl - better error for failed decompression
  generated/formats/ovl/__init__.py
  modules/formats/shared.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

plugin - rename corrector functions
  plugin/export_banis.py
  plugin/export_manis.py
  plugin/import_banis.py
  plugin/import_manis.py
  plugin/modules_export/armature.py
  plugin/modules_export/collision.py
  plugin/modules_import/armature.py
  plugin/modules_import/collision.py
  plugin/utils/anim.py
  plugin/utils/matrix_util.py
  version.txt
Due: none

ovl - show tooltip for file children
  generated/formats/ovl/__init__.py
  gui/widgets.py
  modules/formats/BaseFormat.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen, check-imports

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
