Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

fur - import vcol a as clump vgroup
  generated/formats/ms2/compounds/MeshData.py
  plugin/import_ms2.py
  plugin/utils/hair.py
  source/formats/ms2/compounds/MeshData.py
  version.txt
Due: codegen

plugin - also hide collections in render
  plugin/import_ms2.py
  plugin/modules_import/armature.py
  plugin/utils/object.py
  version.txt
Due: none

fur - export clump from vgroup
  plugin/modules_export/geometry.py
  version.txt
Due: none

plugin - fix typo, cleanup
  __init__.py
  version.txt
Due: none

add matcol mime for jwe2
  constants/Jurassic World Evolution 2/mimes_extra.py
  version.txt
Due: none

banis - refactor import
  plugin/import_banis.py
  version.txt
Due: none

banis - add bone space correction for import
  plugin/import_banis.py
  version.txt
Due: none

banis - basic export generate structure
  modules/formats/BANI.py
  plugin/export_banis.py
  plugin/import_banis.py
  plugin/utils/object.py
  version.txt
Due: none

banis - basic export with keys
  plugin/export_banis.py
  plugin/import_banis.py
  plugin/utils/anim.py
  plugin/utils/object.py
  version.txt
Due: none

banis - fix typo
  plugin/modules_export/operators.py
  version.txt
Due: none

banis - experiment with transforms, probably wrong
  plugin/export_banis.py
  plugin/import_banis.py
  version.txt
Due: none

banis - revert transform
  plugin/export_banis.py
  version.txt
Due: none

tex - remove png size check
  modules/formats/DDS.py
  version.txt
Due: none

plugin - improve finding of collections
  plugin/export_ms2.py
  plugin/import_ms2.py
  plugin/import_voxelskirt.py
  plugin/modules_export/armature.py
  plugin/utils/object.py
  plugin/utils/shell.py
  version.txt
Due: none

plugin - warn about no matching scenes
  plugin/export_ms2.py
  version.txt
Due: none

rename - check if rename would create collisions and error
  generated/formats/ovl/__init__.py
  modules/formats/BaseFormat.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

banis - wrap the rot range
  generated/formats/bani/__init__.py
  plugin/export_banis.py
  source/formats/bani/__init__.py
  version.txt
Due: codegen

banis - wrap the rot range
  generated/formats/bani/__init__.py
  source/formats/bani/__init__.py
  version.txt
Due: codegen

banis - range experiments
  generated/formats/bani/__init__.py
  plugin/import_banis.py
  source/formats/bani/__init__.py
  version.txt
Due: codegen

dds - improve packing for non-power-of-2
  generated/formats/dds/__init__.py
  source/formats/dds/__init__.py
  version.txt
Due: codegen

Updating other texture 'types' for array handling
  ovl_util/imarray.py
Due: none

fgm - recode pattern gradients import
  modules/formats/FGM.py
  plugin/modules_import/material.py
  version.txt
Due: none

fgm - fix pattern gradients import
  plugin/modules_import/material.py
  version.txt
Due: none

fgm - presort keys to avoid potential problems in np.interp
  plugin/modules_import/material.py
  version.txt
Due: none

fgm - import colorbars separately
  plugin/modules_import/material.py
  version.txt
Due: none

fgm - account for alpha edge case in gradient
  plugin/modules_import/material.py
  version.txt
Due: none

fgm - update tooltips
  gui/tooltips/fgm.txt
  version.txt
Due: none

gui - cleanup
  fgm_editor_gui.py
  ms2_tool_gui.py
  version.txt
Due: check-imports

plugin - automatically gauge uv scales on import, remove gauge button
  __init__.py
  plugin/import_ms2.py
  version.txt
Due: none

plugin - do not add decimate modifier for less than 3 input faces
  plugin/utils/shell.py
  version.txt
Due: none

plugin - fix pack_base for transformed obs + add tolerance
  plugin/export_ms2.py
  plugin/modules_export/geometry.py
  version.txt
Due: none

tex - hotfix to extract non-power-of-2 tex as trimmed png
  modules/formats/DDS.py
  ovl_util/imarray.py
  version.txt
Due: none

tex - proper fix to extract non-power-of-2 tex as trimmed png
  modules/formats/DDS.py
  ovl_util/imarray.py
  version.txt
Due: none

gui - basic implementation of search in ovl files
  generated/formats/ovl/__init__.py
  gui/widgets.py
  icons/search.svg
  modules/walker.py
  ovl_tool_gui.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen, check-imports

plugin - group matlayers slots in frames
  plugin/import_matcol.py
  version.txt
Due: none

plugin - fix matlayers frame names
  plugin/import_matcol.py
  version.txt
Due: none

plugin - set matlayers textures to non-color, remove scaling
  plugin/import_matcol.py
  version.txt
Due: none

plugin - change matlayers height blending scale
  plugin/import_matcol.py
  version.txt
Due: none

Adding support for BuildingBiomeLayer
  generated/formats/buildingbiomelayer/__init__.py
  generated/formats/buildingbiomelayer/buildingbiomelayer.xml
  generated/formats/buildingbiomelayer/compounds/BuildingBiomeData.py
  generated/formats/buildingbiomelayer/compounds/BuildingBiomeLayerRoot.py
  generated/formats/buildingbiomelayer/compounds/__init__.py
  generated/formats/buildingbiomelayer/imports.py
  generated/formats/buildingbiomelayer/versions.py
  modules/formats/BUILDINGBIOMELAYER.py
  source/formats/buildingbiomelayer/buildingbiomelayer.xml
Due: codegen

gui - force python == 3.11
  README.md
  gui/__init__.py
  version.txt
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
