Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

GUI - #382 initial config settings; new filter icons
  experimentals/qtoolbox.py
  gui/__init__.py
  gui/qt_theme.py
  gui/widgets.py
  icons/filter.svg
  icons/invert.svg
  icons/preferences.svg
  icons/remove.svg
  ovl_tool_gui.py
  ovl_util/config.py
  version.txt
Due: check-imports

GUI - #382 Extract DDS (de-couple from Debug Mode)
  generated/formats/ovl/__init__.py
  gui/widgets.py
  modules/formats/BaseFormat.py
  modules/formats/DDS.py
  ovl_tool_gui.py
  ovl_util/config.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen, check-imports

GUI - #382 Oodle compression level
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

GUI - #382 CPU/GPU Compression
  modules/formats/DDS.py
  ovl_util/texconv.py
  version.txt
Due: none

GUI - #382 rename rename to rename files
  ovl_tool_gui.py
  version.txt
Due: check-imports

GUI - #382 improve walker appearance
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - fix nodes_iterate for matcol
  plugin/import_matcol.py
  version.txt
Due: none

lua - improve decompiler performance and integration
  modules/formats/LUA.py
  ovl_util/texconv.py
  version.txt
Due: none

plugin - refactor transforms
  plugin/export_banis.py
  plugin/export_manis.py
  plugin/import_banis.py
  plugin/import_manis.py
  plugin/modules_export/armature.py
  plugin/modules_export/collision.py
  plugin/modules_export/geometry.py
  plugin/modules_export/material.py
  plugin/modules_export/operators.py
  plugin/modules_import/armature.py
  plugin/modules_import/collision.py
  plugin/modules_import/operators.py
  plugin/modules_import/tangents.py
  plugin/utils/blender_util.py
  plugin/utils/hair.py
  plugin/utils/operators.py
  plugin/utils/rig.py
  plugin/utils/transforms.py
  version.txt
Due: none

plugin - sanity check for bone hierarchy, fix sorting
  plugin/modules_export/armature.py
  version.txt
Due: none

docs - installation instructions for bitarray
  docs/Guides/Plugin/Animations.md
  docs/Guides/Plugin/images/install_dependencies.png
  docs/Guides/Plugin/images/install_dependencies_manually.png
  version.txt
Due: none

plugin - better bone index assignment, error when limit is exceeded
  plugin/modules_export/armature.py
  version.txt
Due: none

plugin - remove unused bone matrix setting code
  plugin/modules_import/armature.py
  plugin/utils/blender_util.py
  version.txt
Due: none

plugin - fix bone matrix setting code
  plugin/modules_import/armature.py
  plugin/utils/rig.py
  version.txt
Due: none

manis - change bitarray requirements, enable blender 4.1
  __init__.py
  docs/Guides/Plugin/Animations.md
  requirements-dev.txt
  version.txt
Due: none

manis - cleanup bitarray button
  __init__.py
  version.txt
Due: none

manis - cmd interface for resize script
  docs/Guides/Plugin/Animations.md
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/SegmentsReader.py
  generated/formats/ms2/compounds/ModelReader.py
  resize_manis_cmd.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/compounds/SegmentsReader.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

manis - change ManisDtype indom hatchery exit
  generated/formats/manis/__init__.py
  generated/formats/manis/bitfields/ManisDtype.py
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/compounds/ManiInfo.py
  generated/formats/manis/manis.xml
  modules/walker.py
  source/formats/manis/__init__.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

Update WarHammer shaders
  constants/Warhammer Age of Sigmar - Realms of Ruin/shaders.py
  version.txt
Due: none

Warhammer fgm initial support. mostly migrated from jwe2
  constants/Warhammer Age of Sigmar - Realms of Ruin/texchannels.py
  plugin/modules_import/material.py
  plugin/utils/properties.py
Due: none

fgm - use check_any
  plugin/modules_import/material.py
  version.txt
Due: none

fgm - prefer scene game over fgm game and warn if they differ
  plugin/import_fgm.py
  plugin/import_ms2.py
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - remove tuple cast for old from_pydata version
  plugin/import_ms2.py
  version.txt
Due: none

plugin - move functions to import/geom
  plugin/import_ms2.py
  plugin/modules_import/geometry.py
  version.txt
Due: none

plugin - pull out more functions to import/geom
  plugin/import_ms2.py
  plugin/modules_import/geometry.py
  version.txt
Due: none

plugin - fix ignore texture check
  plugin/modules_import/material.py
  version.txt
Due: none

clean up auto_updater.py
  ovl_util/auto_updater.py
  version.txt
Due: none

plugin - import shader attributes as color inputs
  plugin/modules_import/material.py
  version.txt
Due: none

Clean up of fgm importing, also added option to import multiple fgms at once, to be discussed
  __init__.py
  plugin/import_fgm.py
  plugin/modules_import/operators.py
Due: none

Allowing not to modify existing materials
  plugin/import_fgm.py
Due: none

merged loading multiple fgms in the usual operator, added more reporting and error checking
  __init__.py
  plugin/import_fgm.py
  plugin/modules_import/material.py
  plugin/modules_import/operators.py
  plugin/utils/blender_util.py
Due: none

Added quick grabbing of material names used by the ms2 to assist in material import for library creation
  modules/walker.py
Due: none

better reporting and error checking
  plugin/import_fgm.py
  plugin/utils/blender_util.py
Due: none

Forcing ms2 and fgm material names to be all lowercase
  modules/formats/MS2.py
  plugin/modules_import/material.py
Due: none

manis fixes for PC versioning
  generated/formats/manis/compounds/ManiBlock.py
  generated/formats/manis/manis.xml
  plugin/import_manis.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

implement and prioritize texchannels for tex channel splitting
  constants/Planet Coaster/texchannels.py
  experimentals/prep_textures_dict.py
  modules/formats/DDS.py
  ovl_util/imarray.py
  version.txt
Due: none

add todo for prepare_node_dimensions
  plugin/utils/node_arrange.py
  version.txt
Due: none

docs - add quotation marks around path
  docs/Guides/Plugin/Animations.md
  version.txt
Due: none

plugin - fix material import for jwe1
  plugin/utils/properties.py
  version.txt
Due: none

plugin - add a few basic tex channels for JWE1
  constants/Jurassic World Evolution/texchannels.py
  experimentals/prep_textures_dict.py
  version.txt
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
