Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

Removing test files
  Mods/TestMod1/Main/Databases.TestMod1.lua
  Mods/TestMod1/Main/TestMod1Test.fdb
  Mods/TestModPZ/Main/Databases.TestModPZ.lua
  Mods/TestModPZ/Main/TestModPZModularScenery.fdb
Due: none

added Mods to ignore list
  .gitignore
Due: none

added default txt support
  Modding/Engine/txt.py
Due: none

plugin - some fixes for PC armature export
  generated/formats/ms2/compounds/ModelReader.py
  generated/formats/ovl/__init__.py
  plugin/modules_export/armature.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

plugin - remove game from mod data and panel
  plugin/mods/panels.py
  plugin/mods/properties.py
  version.txt
Due: none

gui - move process folder, refactor frames
  gui/widgets.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - change some logging
  ovl_tool_gui.py
  ovl_util/texconv.py
  version.txt
Due: check-imports

tex - pCavitySmoothnessSamplerTexture channels for hol_baubles_01
  constants/Planet Coaster/texchannels.py
  version.txt
Due: none

ovl - improve debug for streams
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

ovl - improve debug for streams #2
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

ovl - remove extension debug msg
  modules/formats/formats_dict.py
  version.txt
Due: none

gui - use upper case GUI
  ms2_tool_gui.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

manis - remove old debug code
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - fix typo in comment
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - vectorize make_signed
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

ms2 - move joint_names to context to allow for reading and writing them for PC and before
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/HitCheck.py
  generated/formats/ms2/compounds/HitcheckPointerReader.py
  generated/formats/ms2/compounds/HitcheckReader.py
  generated/formats/ms2/compounds/JointData.py
  generated/formats/ms2/compounds/JointInfo.py
  generated/formats/ms2/ms2.xml
  generated/formats/ovl_base/basic.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/HitcheckPointerReader.py
  source/formats/ms2/compounds/HitcheckReader.py
  source/formats/ms2/compounds/JointData.py
  source/formats/ms2/ms2.xml
  source/formats/ovl_base/basic.py
  version.txt
Due: codegen

ms2 - initial data for collision layers for PC
  generated/formats/ms2/compounds/HitCheck.py
  generated/formats/ms2/compounds/ModelReader.py
  generated/formats/ms2/enums/PCCollision.py
  generated/formats/ms2/enums/PCSurface.py
  generated/formats/ms2/imports.py
  generated/formats/ms2/ms2.xml
  generated/formats/physicssurfacesxmlres/compounds/Struct2Sub.py
  generated/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  modules/walker.py
  ms2_tool_gui.py
  plugin/modules_export/armature.py
  plugin/utils/panels.py
  plugin/utils/properties.py
  source/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/ms2.xml
  source/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  version.txt
Due: codegen, check-imports

ms2 - improved data for collision layers for PC
  generated/formats/base/compounds/ZStringBuffer.py
  generated/formats/ms2/compounds/JointInfo.py
  generated/formats/ms2/compounds/MinusPadding.py
  generated/formats/ms2/compounds/ModelReader.py
  generated/formats/ms2/ms2.xml
  generated/formats/ovl_base/compounds/Pointer.py
  generated/formats/ovl_base/ovl_base.xml
  modules/walker.py
  plugin/modules_export/armature.py
  source/formats/base/compounds/ZStringBuffer.py
  source/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/ms2.xml
  source/formats/ovl_base/ovl_base.xml
  version.txt
Due: codegen

Added database files for PC/JWE1/JWE2
  Modding/Games/JurassicWorldEvolution/Data/fdb/Buildings.fdb
  Modding/Games/JurassicWorldEvolution/Data/fdb/Databases.Template.lua
  Modding/Games/JurassicWorldEvolution2/Data/fdb/Buildings.fdb
  Modding/Games/JurassicWorldEvolution2/Data/fdb/Databases.Template.lua
  Modding/Games/PlanetCoaster/Data/fdb/Databases.Template.lua
  Modding/Games/PlanetCoaster/Data/fdb/ModularScenery.fdb
  Modding/Games/PlanetCoaster/Data/fdb/ModularScenery_Ownership.fdb
Due: none

Renamed game folders to match game def string values
  Modding/Engine/fdb.py
  Modding/Games/Jurassic_World_Evolution/Data/fdb/Buildings.fdb
  Modding/Games/Jurassic_World_Evolution/Data/fdb/Databases.Template.lua
  Modding/Games/Jurassic_World_Evolution/Data/fdb/Readme.txt
  Modding/Games/Jurassic_World_Evolution2/Data/fdb/Buildings.fdb
  Modding/Games/Jurassic_World_Evolution2/Data/fdb/Databases.Template.lua
  Modding/Games/Jurassic_World_Evolution2/Data/fdb/Readme.txt
  Modding/Games/Planet_Coaster/Data/fdb/Databases.Template.lua
  Modding/Games/Planet_Coaster/Data/fdb/ModularScenery.fdb
  Modding/Games/Planet_Coaster/Data/fdb/ModularScenery_Ownership.fdb
  Modding/Games/Planet_Coaster/Data/fdb/Readme.txt
  Modding/Games/Planet_Zoo/Data/fdb/Databases.Template.lua
  Modding/Games/Planet_Zoo/Data/fdb/ModularScenery.fdb
  Modding/Games/Planet_Zoo/Data/fdb/Readme.txt
Due: none

Added assetpkg support
  Modding/Engine/assetpkg.py
Due: none

Update assetpkg.py
  Modding/Engine/assetpkg.py
Due: none

added .tex support
  Modding/Engine/tex.py
Due: none

added manifest support
  Modding/Engine/manifest.py
Due: none

added userinterfaceicondata support
  Modding/Engine/userinterfaicondata.py
Due: none

Added lua, fixed .tex and userinterfaceicondata, Added main contentpack util
  Modding/Engine/ContentPack.py
  Modding/Engine/lua.py
  Modding/Engine/tex.py
  Modding/Engine/userinterfaceicondata.py
Due: none

tex - todo for PC buffer updates
  modules/formats/DDS.py
  version.txt
Due: none

ms2 - delete generated pc enums
  generated/formats/ms2/enums/PCCollision.py
  generated/formats/ms2/enums/PCSurface.py
  version.txt
Due: none

ms2 - readd generated pc enums
  generated/formats/ms2/enums/PcCollision.py
  generated/formats/ms2/enums/PcSurface.py
  version.txt
Due: none

ms2 - fix buffer 1 size for PC
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ModelReader.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

Added WoodenSupportSet and LatticeSupportSet mimes
  generated/formats/path/compounds/LatticeSupportSetRoot.py
  generated/formats/path/compounds/WoodenSupportSetRoot.py
  generated/formats/path/imports.py
  generated/formats/path/path.xml
  modules/formats/PATH.py
  source/formats/path/path.xml
  version.txt
Due: codegen

fix to .trackedridecar
  generated/formats/trackedridecar/compounds/TrackedRideCarRoot.py
  generated/formats/trackedridecar/compounds/TrackedRideCarSub.py
  generated/formats/trackedridecar/trackedridecar.xml
  source/formats/trackedridecar/trackedridecar.xml
  version.txt
Due: codegen

Updated TrackElement struct (incorrect list size for catwalk)
  generated/formats/trackelement/compounds/CatwalkRef.py
  generated/formats/trackelement/compounds/TrackElementData.py
  generated/formats/trackelement/imports.py
  generated/formats/trackelement/trackelement.xml
  plugin/modules_import/material.py
  source/formats/trackelement/trackelement.xml
Due: codegen

fgm walker for PC
  constants/Planet Coaster/shaders.py
Due: none

quick update for path materials
  constants/Planet Coaster/texchannels.py
Due: none

.vendingmachineinteractionsettings mime
  generated/formats/vendingmachineinteractionsettings/__init__.py
  generated/formats/vendingmachineinteractionsettings/compounds/GuestAnimationInteractionList.py
  generated/formats/vendingmachineinteractionsettings/compounds/VendingMachineInteractionSettingsRoot.py
  generated/formats/vendingmachineinteractionsettings/compounds/__init__.py
  generated/formats/vendingmachineinteractionsettings/imports.py
  generated/formats/vendingmachineinteractionsettings/vendingmachineinteractionsettings.xml
  generated/formats/vendingmachineinteractionsettings/versions.py
  modules/formats/VENDINGMACHINEINTERACTIONSETTINGS.py
  source/formats/vendingmachineinteractionsettings/vendingmachineinteractionsettings.xml
Due: codegen

removing order id, any custom id will be created using djb2 of the entry
  plugin/mods/panels.py
  plugin/mods/properties.py
Due: none

fix for PC .pathresource
  generated/formats/path/compounds/PathResource.py
  generated/formats/path/path.xml
  source/formats/path/path.xml
Due: codegen

PZ fix for .supportset
  generated/formats/path/compounds/Pillar.py
  generated/formats/path/path.xml
  source/formats/path/path.xml
Due: codegen

Updated .trackelement with better naming
  generated/formats/trackelement/compounds/TrackElementData.py
  generated/formats/trackelement/compounds/TrackElementRoot.py
  generated/formats/trackelement/compounds/TrackMeshRef.py
  generated/formats/trackelement/imports.py
  generated/formats/trackelement/trackelement.xml
  source/formats/trackelement/trackelement.xml
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
