Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

improve imarray splitting
  ovl_util/imarray.py
  version.txt
Due: none

plugin - fix jwe1 matcol
  plugin/import_matcol.py
  version.txt
Due: none

plugin - add inaki's matcol slots tool
  __init__.py
  plugin/import_matcol.py
  plugin/utils/panels.py
  plugin/utils/properties.py
  version.txt
Due: none

bulk fgm import track errors
  plugin/import_fgm.py
Due: none

added multiple import option to SPL and MS2 too
  plugin/modules_import/operators.py
Due: none

updated plugin descriptions
  __init__.py
  plugin/modules_import/operators.py
Due: none

import without object selected raises exception
  plugin/utils/node_arrange.py
Due: none

plugin - cleanup matcol slots tool
  plugin/utils/panels.py
  version.txt
Due: none

plugin - add BulkImportOp
  plugin/modules_import/operators.py
  version.txt
Due: none

plugin - add BrowserImportOp
  plugin/modules_import/operators.py
  version.txt
Due: none

remove error in 4.x when creating a rigibody with operators
  plugin/modules_import/collision.py
Due: none

plugin - refactor operators and message reporting
  plugin/import_ms2.py
  plugin/modules_export/operators.py
  plugin/modules_import/operators.py
  plugin/utils/blender_util.py
  plugin/utils/operators.py
  version.txt
Due: none

Added drag and drop of cobra files into the viewport 3d
  __init__.py
Due: none

removed the wrong line :D
  __init__.py
Due: none

removing errors when object not present and material doesn't exist
  plugin/utils/panels.py
Due: none

added drag and drop for 4.1+
  __init__.py
  plugin/modules_import/operators.py
Due: none

plugin - skip matcol helper if no matcol is loaded
  __init__.py
  plugin/utils/panels.py
  version.txt
Due: none

additional error checking on drag and drop, and old method removed from 4.1
  __init__.py
Due: none

supporting saving oddle ovls from scripts without threads
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

plugin - fix update fins for blender 4.1
  plugin/modules_import/geometry.py
  plugin/utils/blender_util.py
  plugin/utils/operators.py
  plugin/utils/shell.py
  version.txt
Due: none

plugin - manis export cleanup + sanity check
  plugin/export_manis.py
  version.txt
Due: none

imarray - fix channel splitting, add todo
  ovl_util/imarray.py
  version.txt
Due: none

plugin - don't break import when material fails
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - better fgm attribute import
  plugin/modules_import/material.py
  version.txt
Due: none

gui - check files_container.hasFocus
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - clean up init
  __init__.py
  experimentals/blender_get_panel_names.py
  plugin/utils/panels.py
  version.txt
Due: none

loc tool - use cfg
  loc_tool_gui.py
  version.txt
Due: check-imports

fgm - remove outdated todos for array_index dtype
  fgm_editor_gui.py
  plugin/import_matcol.py
  version.txt
Due: check-imports

gui - cleanup + refactor
  gui/widgets.py
  loc_tool_gui.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

plugin - remove outdated todo from fgm import
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - pick correct DdsType enum for fgm export
  plugin/export_fgm.py
  version.txt
Due: none

plugin - refactor panels pull out bl_space_type + bl_region_type, enforce class naming scheme
  __init__.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - refactor panels + props for mod
  __init__.py
  plugin/mods/__init__.py
  plugin/mods/operators.py
  plugin/mods/panels.py
  plugin/mods/properties.py
  plugin/modules_import/operators.py
  plugin/utils/panels.py
  plugin/utils/properties.py
  version.txt
Due: none

plugin - cleanup fgm import
  plugin/import_fgm.py
  version.txt
Due: none

gui - also rename child loaders during direct rename
  modules/formats/BaseFormat.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

ms2 - use correct index for new model2stream names during saving
  generated/formats/ms2/__init__.py
  modules/formats/MS2.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

plugin - fix buffer init for ms2 export
  generated/formats/ms2/__init__.py
  source/formats/ms2/__init__.py
  version.txt
Due: codegen

plugin - preserve manis stream for blender
  plugin/export_manis.py
  plugin/import_manis.py
  version.txt
Due: none

removed unnecessary logging.info
  generated/formats/ovl/__init__.py
  version.txt
Due: none

Added fdb modding helper and default files
  Modding/Engine/Data/fdb/Databases.Template.lua
  Modding/Engine/Data/fdb/Readme.txt
  Modding/Engine/Data/fdb/Test.fdb
  Modding/Engine/fdb.py
  Modding/Games/JurassicWorldEvolution/Data/fdb/Readme.txt
  Modding/Games/JurassicWorldEvolution2/Data/fdb/Readme.txt
  Modding/Games/PlanetCoaster/Data/fdb/Readme.txt
  Modding/Games/PlanetZoo/Data/fdb/Databases.Template.lua
  Modding/Games/PlanetZoo/Data/fdb/ModularScenery.fdb
  Modding/Games/PlanetZoo/Data/fdb/Readme.txt
  Mods/TestMod1/Main/Databases.TestMod1.lua
  Mods/TestMod1/Main/TestMod1Test.fdb
  Mods/TestModPZ/Main/Databases.TestModPZ.lua
  Mods/TestModPZ/Main/TestModPZModularScenery.fdb
Due: none
