Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

.pre-commit-config.yaml:

exclude: ^(constants|experimentals|hashes|dumps)/
repos:
-   repo: local
    hooks: 
    -   id: version
        name: Increment Version
        entry: ./bin/increment_version.py
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Run Codegen
        entry: ./bin/run_codegen.py
        language: system
        stages: [pre-commit, manual]
        files: ^source
        pass_filenames: false
    -   id: check-imports
        name: Check Imports
        entry: ./bin/check_imports.py
        language: system
        stages: [pre-commit, manual]
        files: '(.*_gui\.py|^gui/widgets\.py)'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-shebang-scripts-are-executable

plugin - reformat node_arrange.py
  plugin/utils/node_arrange.py
  version.txt
Due: none

plugin - cleanup matcol node tree
  constants/Planet Zoo/texchannels.py
  plugin/blends/MatcolHeight.blend
  plugin/export_fgm.py
  plugin/import_matcol.py
  version.txt
Due: none

plugin - cleanup matcol node tree more
  plugin/import_matcol.py
  plugin/utils/node_arrange.py
  version.txt
Due: none

plugin - document more tex channel uses
  constants/Jurassic World Evolution 2/texchannels.py
  constants/Planet Zoo/texchannels.py
  plugin/export_fgm.py
  plugin/modules_import/material.py
  version.txt
Due: none

loctool - fix bad arg, closes #363
  loc_tool_gui.py
  version.txt
Due: check-imports

plugin - add more texchannels
  constants/Planet Coaster/texchannels.py
  constants/Planet Zoo/texchannels.py
  plugin/export_fgm.py
  version.txt
Due: none

plugin - cleanup some rig related data
  generated/formats/ms2/compounds/BoneInfo.py
  generated/formats/ms2/ms2.xml
  plugin/modules_export/armature.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

plugin - improve and share ensure_visible
  plugin/export_ms2.py
  plugin/utils/object.py
  plugin/utils/shell.py
  version.txt
Due: none

plugin - cleanup add_hair
  plugin/utils/shell.py
  version.txt
Due: none

plugin - cleanup rig edit
  plugin/utils/shell.py
  version.txt
Due: none

plugin - remove context_override for blender 4.0 api
  plugin/modules_import/collision.py
  version.txt
Due: none

gui - catch errors for auto updater
  gui/widgets.py
  ovl_util/auto_updater.py
  version.txt
Due: check-imports

plugin - rewrite fgm import with new tex channel system
  constants/Jurassic World Evolution 2/texchannels.py
  plugin/blends/FlexiDiffuse.blend
  plugin/blends/MainShader.blend
  plugin/export_fgm.py
  plugin/modules_import/material.py
  plugin/utils/texture_settings.py
  version.txt
Due: none

plugin - import non color slots as non-color color space
  plugin/blends/MainShader.blend
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - improve import of shader inputs, fix bug with flexi rgb inputs
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - improve uv layer mapping for feathers
  constants/Jurassic World Evolution 2/texchannels.py
  plugin/modules_import/material.py
  version.txt
Due: none

Import Oodle dynamically
  generated/formats/ovl/__init__.py
  source/formats/ovl/__init__.py
Due: codegen

gui - ignore missing pkg_resources
  ovl_util/auto_updater.py
  version.txt
Due: none

plugin - refactor and fix rig edit scale
  plugin/utils/operators.py
  plugin/utils/rig.py
  plugin/utils/shell.py
  version.txt
Due: none

supportset - add Pillar.fln_model pointer
  generated/formats/path/compounds/Pillar.py
  generated/formats/path/path.xml
  source/formats/path/path.xml
  version.txt
Due: codegen

trackmesh - improve xml spec
  generated/formats/trackmesh/compounds/LastData.py
  generated/formats/trackmesh/compounds/OffsetData.py
  generated/formats/trackmesh/compounds/Vector3.py
  generated/formats/trackmesh/imports.py
  generated/formats/trackmesh/trackmesh.xml
  source/formats/trackmesh/trackmesh.xml
  version.txt
Due: codegen

tex - fix inject for PC
  modules/formats/DDS.py
  version.txt
Due: none

bnk - improve specs for events
  bnk_gui.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/bnk/compounds/MusicTrack.py
  generated/formats/bnk/compounds/MusicTrackInitialValues.py
  generated/formats/bnk/compounds/SoundSfxVoice.py
  generated/formats/bnk/imports.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/AuxFileContainer.py
  version.txt
Due: codegen, check-imports

bnk - improve specs for events
  generated/formats/bnk/compounds/Event.py
  generated/formats/bnk/compounds/EventAction.py
  generated/formats/bnk/compounds/HircObject.py
  generated/formats/bnk/enums/ActionScope.py
  generated/formats/bnk/enums/StreamSource.py
  version.txt
Due: none

fix bitarray requirements.txt
  requirements.txt
  version.txt
Due: none

put absolute path to requirements.txt, move bitarray to dev
  ovl_util/auto_updater.py
  requirements-dev.txt
  requirements.txt
  version.txt
Due: none

plugin - export correct hitcheck name
  plugin/utils/matrix_util.py
  version.txt
Due: none

plugin - write blender version to log
  __init__.py
  version.txt
Due: none

ms2 - pad after last bone info
  constants/Jurassic World Evolution 2/texchannels.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/HircPointer.py
  generated/formats/ms2/compounds/ModelReader.py
  source/formats/bnk/bnk.xml
  source/formats/ms2/compounds/ModelReader.py
  version.txt
Due: codegen

tex - pBaseAOTexture G as baldness
  constants/Jurassic World Evolution 2/texchannels.py
  version.txt
Due: none

plugin - set default ms2 name for export operator
  plugin/modules_export/operators.py
  version.txt
Due: none

plugin - set default fgm name for export operator
  plugin/export_fgm.py
  plugin/modules_export/operators.py
  version.txt
Due: none

plugin - improve fgm export
  plugin/blends/MainShader.blend
  plugin/export_fgm.py
  plugin/modules_import/material.py
  version.txt
Due: none

fix Windows version check for 8.1
  ovl_util/logs.py
  version.txt
Due: none

Create pz_exhibits.sql
  sql_commands/pz_exhibits.sql
Due: none

improve rename contents, use str pointers when available and allow different str lengths
  generated/formats/ovl/compounds/MemPool.py
  generated/formats/ovl_base/compounds/MemStruct.py
  generated/formats/ovl_base/compounds/Pointer.py
  modules/formats/BaseFormat.py
  modules/formats/MOTIONGRAPH.py
  ovl_tool_gui.py
  source/formats/ovl/compounds/MemPool.py
  source/formats/ovl_base/compounds/MemStruct.py
  source/formats/ovl_base/compounds/Pointer.py
  version.txt
Due: codegen, check-imports

ovl - don't inject backup ms2 files, warn but don't error
  generated/formats/ovl/__init__.py
  modules/formats/MS2.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

ovl - remove mesh mode feature
  generated/formats/ovl/__init__.py
  ovl_tool_gui.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen, check-imports

manis - fix structs for JWE1
  generated/formats/manis/__init__.py
  generated/formats/manis/compounds/Buffer1.py
  generated/formats/manis/compounds/InfoHeader.py
  generated/formats/manis/compounds/KeysReader.py
  generated/formats/manis/compounds/ManiInfo.py
  generated/formats/manis/manis.xml
  source/formats/manis/__init__.py
  source/formats/manis/compounds/KeysReader.py
  source/formats/manis/manis.xml
  version.txt
Due: codegen

datastreams
  generated/formats/datastreams/__init__.py
  generated/formats/datastreams/compounds/CurveDataPoint.py
  generated/formats/datastreams/compounds/DataStreamsRoot.py
  generated/formats/datastreams/compounds/DataStreamsSettings.py
  generated/formats/datastreams/compounds/__init__.py
  generated/formats/datastreams/datastreams.xml
  generated/formats/datastreams/enums/SubCurveType.py
  generated/formats/datastreams/enums/__init__.py
  generated/formats/datastreams/imports.py
  generated/formats/datastreams/versions.py
  modules/formats/DATASTREAMS.py
  source/formats/datastreams/datastreams.xml
  version.txt
Due: codegen
