Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

motiongraph - revert super call
  modules/formats/BaseFormat.py
  version.txt
Due: none

motiongraph - unrevert both
  modules/formats/BaseFormat.py
  modules/formats/MOTIONGRAPH.py
  version.txt
Due: none

tests - wrap blender init in try-except
  __init__.py
  version.txt
Due: none

tests - wrap blender init in try-except, fix
  __init__.py
  version.txt
Due: none

ms2 - rename flag to is_speedtree
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/MeshData.py
  generated/formats/ms2/compounds/NewMeshData.py
  plugin/import_ms2.py
  plugin/modules_export/geometry.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/MeshData.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

plugin - add expect_shapekeys param to ms2 import
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/MeshData.py
  generated/formats/ms2/compounds/NewMeshData.py
  plugin/import_ms2.py
  plugin/modules_export/geometry.py
  plugin/modules_import/operators.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/MeshData.py
  source/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/compounds/__init__.py
  version.txt
Due: codegen

matcol - fix editor
  gui/widgets.py
  matcol_editor_gui.py
  version.txt
Due: check-imports

bnk - fixes for JWE2
  bnk_gui.py
  generated/formats/bnk/bnk.xml
  generated/formats/bnk/compounds/AuxFileContainer.py
  generated/formats/bnk/compounds/SoundSfxVoice.py
  modules/formats/BNK.py
  source/formats/bnk/bnk.xml
  source/formats/bnk/compounds/AuxFileContainer.py
  version.txt
Due: codegen, check-imports

plugin - #368 More obvious warnings about materials ending with .00N + new reporter
  plugin/export_ms2.py
  plugin/modules_export/material.py
  plugin/modules_export/operators.py
  plugin/utils/matrix_util.py
  version.txt
Due: none

plugin - #368 Renaming full collection hierarchy naming
  __init__.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - #368 duplication of selected MDL2 to a new collection with full hierarchy renaming
  __init__.py
  plugin/utils/collection.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - #368 move apply_pose_all, add icons
  __init__.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - #368 remove copypasta
  plugin/utils/panels.py
  version.txt
Due: none

plugin - #368 add gui for duplicating options
  plugin/utils/operators.py
  version.txt
Due: none

plugin - #368 add basic backend for share_materials
  plugin/utils/collection.py
  plugin/utils/operators.py
  version.txt
Due: none

plugin - #72 model flag num_shells
  generated/formats/ms2/bitfields/ModelFlag.py
  generated/formats/ms2/ms2.xml
  plugin/utils/shell.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

plugin - #72 refactor update_dtype
  generated/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

plugin - #368 Add/Remove LOD levels, with automatic naming from the L0 name (or collection name)
  plugin/import_ms2.py
  plugin/import_voxelskirt.py
  plugin/modules_export/operators.py
  plugin/modules_import/armature.py
  plugin/utils/lods.py
  plugin/utils/object.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - fix shader picker, add warning for bad game
  plugin/utils/panels.py
  plugin/utils/properties.py
  version.txt
Due: none

plugin - #368 option for whether to duplicate or share materials
  plugin/utils/collection.py
  version.txt
Due: none

plugin - #368 improve share materials
  plugin/utils/collection.py
  version.txt
Due: none

plugin - #368 share rig
  plugin/utils/collection.py
  plugin/utils/operators.py
  version.txt
Due: none

plugin - #368 export with share armatures
  plugin/export_ms2.py
  version.txt
Due: none

plugin - #368 Auto-smooth full collection
  __init__.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  version.txt
Due: none

plugin - #368 flag 517 with vcol
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/NewMeshData.py
  generated/formats/ms2/enums/MeshFormat.py
  generated/formats/ms2/ms2.xml
  plugin/import_ms2.py
  plugin/modules_export/geometry.py
  plugin/modules_import/operators.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/ms2.xml
  version.txt
Due: codegen

plugin - #368 flag 517 with vcol cleanup
  plugin/modules_export/geometry.py
  version.txt
Due: none

plugin - #368 rename to Update LODs
  plugin/utils/operators.py
  version.txt
Due: none

plugin - #368 lod switching in view panel
  __init__.py
  experimentals/Blender_lod_control.py
  generated/formats/ms2/compounds/NewMeshData.py
  plugin/utils/panels.py
  plugin/utils/properties.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

plugin - #368 improve lod switching
  plugin/utils/properties.py
  version.txt
Due: none

plugin - error for rigidbody constraint with missing objects
  plugin/modules_export/armature.py
  version.txt
Due: none

plugin - #368 Configurable LOD distances + Tweak Decimation modifier values for the collection
  __init__.py
  plugin/export_ms2.py
  plugin/utils/lods.py
  plugin/utils/operators.py
  plugin/utils/properties.py
  version.txt
Due: none

resize manis also resizes JWE2 ms2
  experimentals/resize_manis.py
  generated/formats/base/compounds/Vector3.py
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  source/formats/base/compounds/Vector3.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ChunkedMesh.py
  version.txt
Due: codegen

gui - #371 OVL Tool - Editing Compression Type
  gui/widgets.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - #371 OVL Tool - Editing OVL Includes list
  ovl_tool_gui.py
  version.txt
Due: check-imports

gui - #371 FGM Editor - Editing color widgets (attributes), refactor set_dirty
  fgm_editor_gui.py
  gui/widgets.py
  ovl_tool_gui.py
  version.txt
Due: check-imports

fgm editor - lock textures and attributes by default
  fgm_editor_gui.py
  version.txt
Due: check-imports

resize tool - fix bounds
  generated/formats/ms2/__init__.py
  generated/formats/ms2/compounds/ChunkedMesh.py
  generated/formats/ms2/compounds/NewMeshData.py
  plugin/export_ms2.py
  plugin/modules_export/collision.py
  plugin/modules_export/geometry.py
  source/formats/ms2/__init__.py
  source/formats/ms2/compounds/ChunkedMesh.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

plugin - cleanup operators
  plugin/utils/operators.py
  version.txt
Due: none

plugin - improve add hair operator
  plugin/utils/shell.py
  version.txt
Due: none

plugin - improve cobra mesh tools ui
  __init__.py
  plugin/utils/operators.py
  plugin/utils/shell.py
  version.txt
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
