Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

particleeffect - improve effects 7, 8, 12
  generated/formats/particleeffect/compounds/Effect07.py
  generated/formats/particleeffect/compounds/Effect08.py
  generated/formats/particleeffect/compounds/Effect12.py
  generated/formats/particleeffect/particleeffect.xml
  source/formats/particleeffect/particleeffect.xml
  version.txt
Due: codegen

gui - load icons for games selector from exes
  gui/widgets.py
  version.txt
Due: check-imports

gui - push preliminary config refactor
  ovl_util/config.py
  version.txt
Due: none

gui - fix game widget
  gui/widgets.py
  version.txt
Due: check-imports

plugin - improve setup_rig collision
  plugin/modules_import/collision.py
  plugin/utils/rig.py
  version.txt
Due: none

experimental rotation generator for testing prefab transforms
  experimentals/blender_prefab_rot.py
  version.txt
Due: none

plugin - leave visibility of joints for lod setter
  plugin/utils/properties.py
  version.txt
Due: none

plugin - updates for font generator
  plugin/import_ms2.py
  plugin/utils/operators.py
  plugin/utils/rig.py
  version.txt
Due: none

Improved material loading from libraries.
  plugin/modules_import/material.py
  version.txt
Due: none

plugin - remove outdated armature todo
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  version.txt
Due: none

semanticflexicolouroverrides
  generated/formats/semanticflexicolours/compounds/ColorOverride.py
  generated/formats/semanticflexicolours/compounds/FloatColor.py
  generated/formats/semanticflexicolours/compounds/GameOverride.py
  generated/formats/semanticflexicolours/compounds/SemanticFlexiColourOverridesRoot.py
  generated/formats/semanticflexicolours/imports.py
  generated/formats/semanticflexicolours/semanticflexicolours.xml
  icons/semanticflexicolouroverrides.svg
  modules/formats/SEMANTICFLEXICOLOURS.py
  source/formats/semanticflexicolours/semanticflexicolours.xml
  version.txt
Due: codegen

#378 - achievements
  generated/base_struct.py
  generated/formats/achievements/__init__.py
  generated/formats/achievements/achievements.xml
  generated/formats/achievements/compounds/Achievement.py
  generated/formats/achievements/compounds/AchievementsRoot.py
  generated/formats/achievements/compounds/ConditionCheck.py
  generated/formats/achievements/compounds/ConditionRef.py
  generated/formats/achievements/compounds/ConditionRef2.py
  generated/formats/achievements/compounds/ConditionRef2Ptr.py
  generated/formats/achievements/compounds/ConditionRefPtr.py
  generated/formats/achievements/compounds/ConditionVar.py
  generated/formats/achievements/compounds/ConditionVarPtr.py
  generated/formats/achievements/compounds/ConditionsPtr.py
  generated/formats/achievements/compounds/__init__.py
  generated/formats/achievements/imports.py
  generated/formats/achievements/versions.py
  modules/formats/ACHIEVEMENTS.py
  source/base_struct.py
  source/formats/achievements/achievements.xml
  version.txt
Due: codegen

plugin - improve iter_constraints
  plugin/modules_export/armature.py
  version.txt
Due: none

plugin - export S and T curves for JWE1
  plugin/export_manis.py
  version.txt
Due: none

manis - add show_floats(), todo for np.linalg.norm uses
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - fix uses of np.linalg.norm #381
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - fix export of S + T #381
  plugin/export_manis.py
  version.txt
Due: none

manis - improve docs
  docs/Guides/Plugin/Animations.md
  version.txt
Due: none

manis - improve decoding rots
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

add ZStringList.from_strings
  generated/formats/ovl_base/compounds/ZStringList.py
  source/formats/ovl_base/compounds/ZStringList.py
  version.txt
Due: codegen

improved mechanicresearch unlock settings
  generated/formats/mechanicresearch/compounds/Research.py
  generated/formats/mechanicresearch/mechanicresearch.xml
  source/formats/mechanicresearch/mechanicresearch.xml
  version.txt
Due: codegen

plugin - fix typo
  plugin/utils/operators.py
  version.txt
Due: none

manis - show segment bounds for plot
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - tweak decompress
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - improve decompress
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - fix rot import
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - add todo for recursive loc scale
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

ms2 - improve wording of vertex size error
  generated/formats/ms2/compounds/NewMeshData.py
  source/formats/ms2/compounds/NewMeshData.py
  version.txt
Due: codegen

gui - make capitalization consistent
  gui/widgets.py
  version.txt
Due: check-imports

ms2 - move IK constraints to target bone instead of its parent
  plugin/modules_export/armature.py
  plugin/modules_import/armature.py
  version.txt
Due: none

manis - disable IK constraints by default
  plugin/import_manis.py
  plugin/modules_import/operators.py
  version.txt
Due: none

manis - split float channel suffix from bone name
  plugin/import_manis.py
  version.txt
Due: none

manis - refactor get_pack_scale
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - import Footplant + IKEnabled
  generated/formats/manis/__init__.py
  plugin/import_manis.py
  plugin/modules_import/anim.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - update manis version during create before writing
  generated/formats/manis/__init__.py
  modules/formats/MANI.py
  plugin/import_manis.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - #381 decompress base keys for PC and JWE1
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - #381 cleanup
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

manis - #381 rewrite get_quat_scale_fac
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

OVL - Oodle Compression support
  generated/formats/ovl/__init__.py
  ovl_util/oodle/oodle.py
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
