Repository OpenNaja/cobra-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: codegen, check-imports

codegen:
  name: Run Codegen
  entry: ./bin/run_codegen.py
  language: system
  stages:
  - pre-commit
  - manual
  pass_filenames: false

check-imports:
  name: Check Imports
  entry: ./bin/check_imports.py
  language: system
  stages:
  - pre-commit
  - manual

guestonrideanimsettings - improve spec
  generated/formats/guestonrideanimsettings/compounds/AnimPair.py
  generated/formats/guestonrideanimsettings/compounds/RideAnims.py
  generated/formats/guestonrideanimsettings/guestonrideanimsettings.xml
  generated/formats/guestonrideanimsettings/imports.py
  source/formats/guestonrideanimsettings/guestonrideanimsettings.xml
  version.txt
Due: codegen

logicalcontrols - improve spec
  generated/formats/logicalcontrols/compounds/AxisValue.py
  generated/formats/logicalcontrols/compounds/ButtonData.py
  generated/formats/logicalcontrols/logicalcontrols.xml
  source/formats/logicalcontrols/logicalcontrols.xml
  version.txt
Due: codegen

physicssurface - improve collecting
  generated/formats/ovl_base/compounds/ArrayPointer.py
  generated/formats/physicssurfacesxmlres/compounds/SurfacePhysicsInfo.py
  generated/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  modules/formats/PHYSICSSURFACEXMLRES.py
  source/formats/ovl_base/compounds/ArrayPointer.py
  source/formats/physicssurfacesxmlres/physicssurfacesxmlres.xml
  version.txt
Due: codegen

plugin - add inaki's setup rig script
  __init__.py
  plugin/utils/operators.py
  plugin/utils/panels.py
  plugin/utils/rig.py
  version.txt
Due: none

plugin - add options for #373
  plugin/utils/operators.py
  plugin/utils/rig.py
  version.txt
Due: none

plugin - simplify #373
  plugin/utils/rig.py
  version.txt
Due: none

added default mesh to mdl2 data, uv names etc to be able to export
  plugin/utils/rig.py
Due: none

plugin - make less picky about layer counts on export
  plugin/modules_export/geometry.py
  version.txt
Due: none

plugin - fix indents
  plugin/utils/rig.py
  version.txt
Due: none

plugin - reformat
  plugin/utils/rig.py
  version.txt
Due: none

#373 moving operator from collection to mesh
  __init__.py
Due: none

plugin - fix export rgba detection
  plugin/modules_export/geometry.py
  version.txt
Due: none

#373 fix creating the rigidbody, fully moved the operator to the mesh panel
  plugin/utils/panels.py
  plugin/utils/rig.py
Due: none

plugin - move existing armature to mdl2 #373
  plugin/utils/rig.py
  version.txt
Due: none

#373 Split by materials after all rigging is done
  plugin/utils/rig.py
Due: none

Adding Docs folder for pages support
  docs/_config.yml
Due: none

created readme
  docs/Readme.md
Due: none

Create index.html
  docs/index.html
Due: none

Updated width and content
  docs/assets/css/style.scss
  docs/index.html
Due: none

removed html, updated readme
  docs/Readme.md
  docs/index.html
Due: none

updated layout
  docs/_layouts/default.html
  docs/assets/css/style.scss
Due: none

fixed header width and downloads text
  docs/_layouts/default.html
  docs/assets/css/style.scss
Due: none

updated title and content
  docs/Readme.md
  docs/_config.yml
Due: none

Prevent exporting with wrong fgm shader
  plugin/export_fgm.py
Due: none

plugin - improve add fur
  plugin/utils/shell.py
  version.txt
Due: none

gui - suppress error popup during dragging
  ovl_tool_gui.py
  version.txt
Due: check-imports

Update export_fgm.py
  plugin/export_fgm.py
Due: none

plugin - fix export of scaled bbox, hull and mesh colliders
  plugin/modules_export/collision.py
  version.txt
Due: none

plugin - refactor reporting
  plugin/export_banis.py
  plugin/export_fgm.py
  plugin/export_manis.py
  plugin/export_spl.py
  plugin/import_banis.py
  plugin/import_fgm.py
  plugin/import_manis.py
  plugin/import_matcol.py
  plugin/import_ms2.py
  plugin/import_spl.py
  plugin/import_voxelskirt.py
  plugin/modules_export/operators.py
  plugin/modules_import/operators.py
  plugin/utils/hair.py
  plugin/utils/matrix_util.py
  plugin/utils/operators.py
  plugin/utils/rig.py
  plugin/utils/shell.py
  version.txt
Due: none

manis - improve matplotlib warning
  generated/formats/manis/__init__.py
  source/formats/manis/__init__.py
  version.txt
Due: codegen

Luacheck: Ignore Frontier built-ins
  ovl_util/imarray.py
  ovl_util/shared.py
  ovl_util/texconv.py
  plugin/modules_import/material.py
  version.txt
Due: none

codegen - automatically fill array counts following naming convention
  generated/base_struct.py
  generated/formats/animalresearch/animalresearch.xml
  generated/formats/animalresearch/compounds/ResearchLevel.py
  generated/formats/animalresearch/compounds/ResearchRoot.py
  generated/formats/animalresearch/compounds/ResearchStartRoot.py
  generated/formats/ovl_base/compounds/MemStruct.py
  generated/formats/ovl_base/compounds/ZStringList.py
  generated/formats/ovl_base/ovl_base.xml
  source/base_struct.py
  source/formats/animalresearch/animalresearch.xml
  source/formats/ovl_base/compounds/MemStruct.py
  source/formats/ovl_base/compounds/ZStringList.py
  source/formats/ovl_base/ovl_base.xml
  version.txt
Due: codegen

semanticflexicolours - update spec
  generated/formats/semanticflexicolours/compounds/Colourname.py
  generated/formats/semanticflexicolours/compounds/SemanticFlexiColoursRoot.py
  generated/formats/semanticflexicolours/imports.py
  generated/formats/semanticflexicolours/semanticflexicolours.xml
  source/formats/semanticflexicolours/semanticflexicolours.xml
  version.txt
Due: codegen

various - update spec
  generated/formats/accountlevelsdata/accountlevelsdata.xml
  generated/formats/accountlevelsdata/compounds/AccountLevel.py
  generated/formats/accountlevelsdata/compounds/AccountLevelsDataRoot.py
  generated/formats/dlcentitlements/compounds/Entitlement.py
  generated/formats/dlcentitlements/dlcentitlements.xml
  generated/formats/enumnamer/compounds/EnumnamerRoot.py
  generated/formats/enumnamer/enumnamer.xml
  generated/formats/missiondata/compounds/MissionDataRoot.py
  generated/formats/missiondata/missiondata.xml
  generated/formats/ovl_base/ovl_base.xml
  generated/formats/sceneryobjectresource/compounds/SceneryObjectResourceRoot.py
  generated/formats/sceneryobjectresource/sceneryobjectresource.xml
  generated/formats/specdef/compounds/SpecdefRoot.py
  generated/formats/specdef/specdef.xml
  generated/formats/world/compounds/WorldHeader.py
  generated/formats/world/world.xml
  gui/widgets.py
  source/formats/accountlevelsdata/accountlevelsdata.xml
  source/formats/dlcentitlements/dlcentitlements.xml
  source/formats/enumnamer/enumnamer.xml
  source/formats/missiondata/missiondata.xml
  source/formats/ovl_base/ovl_base.xml
  source/formats/sceneryobjectresource/sceneryobjectresource.xml
  source/formats/specdef/specdef.xml
  source/formats/world/world.xml
  version.txt
Due: codegen, check-imports

ms2 + ovl - fix versioning and is_dev processing
  generated/formats/ms2/compounds/Ms2InfoHeader.py
  generated/formats/ms2/compounds/packing_utils.py
  generated/formats/ms2/ms2.xml
  generated/formats/ovl/__init__.py
  modules/formats/MS2.py
  plugin/modules_export/geometry.py
  source/formats/ms2/compounds/packing_utils.py
  source/formats/ms2/ms2.xml
  source/formats/ovl/__init__.py
  version.txt
Due: codegen

Update rig.py
  plugin/utils/rig.py
Due: none

codegen - force create array for array pointers etc
  generated/formats/fgm/compounds/FgmHeader.py
  generated/formats/fgm/fgm.xml
  generated/formats/ovl/__init__.py
  generated/formats/ovl_base/compounds/ArrayPointer.py
  generated/formats/ovl_base/compounds/ForEachPointer.py
  modules/formats/FGM.py
  source/formats/fgm/fgm.xml
  source/formats/ovl/__init__.py
  source/formats/ovl_base/compounds/ArrayPointer.py
  source/formats/ovl_base/compounds/ForEachPointer.py
  version.txt
Due: codegen

Docs - mkdocs Initial Commit
  .github/workflows/mkdocs.yaml
  .pre-commit-config.yaml
  docs/Credits.md
  docs/Development/Reverse-Engineering/OVL-File-Formats.md
  docs/Development/index.md
  docs/Disclaimers.md
  docs/Download.md
  docs/Guides/ACSE/Dev-Lua.md
  docs/Guides/ACSE/SUMMARY.md
  docs/Guides/ACSE/Scripting-Guide/Content-Packs.md
  docs/Guides/ACSE/Scripting-Guide/Game-Databases.md
  docs/Guides/ACSE/Scripting-Guide/Game-Managers.md
  docs/Guides/ACSE/Scripting-Guide/LuaDatabase-Prefabs.md
  docs/Guides/ACSE/Tweakables-ShellCommands.md
  docs/Guides/ACSE/index.md
  docs/Guides/SUMMARY.md
  docs/Guides/Supported-Formats.md
  docs/Guides/index.md
  docs/Modding-FAQ/Crash-Troubleshooting.md
  docs/Modding-FAQ/Installed-Mods-Troubleshooting.md
  docs/Modding-FAQ/index.md
  docs/Readme.md
  docs/SUMMARY.md
  docs/Tools-FAQ/index.md
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/Cobra_Tools_Logo.png
  docs/assets/Cobra_Tools_Logo.svg
  docs/assets/Cobra_Tools_Logo_16px.svg
  docs/assets/css/style.scss
  docs/assets/images/auto_updater.png
  docs/assets/images/ovl_tool.png
  docs/assets/stylesheets/extra.css
  docs/index.md
  docs/overrides/partials/tabs.html
  mkdocs.yml
  requirements-mkdocs.txt
  version.txt
Due: none

Docs - glightbox, Blender image
  docs/assets/images/blender_plugin.png
  docs/index.md
  mkdocs.yml
  requirements-mkdocs.txt
  version.txt
Due: none

Path conditions:
  codegen: any of: ^source, but not: ^(constants|experimentals|hashes|dumps)/
  check-imports: any of: (.*_gui\.py|^gui/widgets\.py), but not: ^(constants|experimentals|hashes|dumps)/
